In [1]:
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import plotly_express as px
import math

In [2]:
wta2016df= pd.read_csv("../data/clean/wta_matches_2016 (1).csv")
print(wta2016df.shape)
wta2017df= pd.read_csv("../data/clean/wta_matches_2017(1).csv")
print(wta2017df.shape)

(2900, 49)
(2181, 49)

In [3]:
wta2017df.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,w_bpFaced,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced
0,2017-1049,Auckland,Hard,32,I,20170102,300,201616,NaN,NaN,...,3.0,2.0,5.0,51.0,23.0,14.0,10.0,8.0,3.0,8.0
1,2017-1049,Auckland,Hard,32,I,20170102,299,201616,NaN,NaN,...,15.0,5.0,10.0,76.0,46.0,31.0,8.0,12.0,5.0,10.0
2,2017-1049,Auckland,Hard,32,I,20170102,298,211951,8.0,NaN,...,9.0,7.0,4.0,91.0,51.0,35.0,19.0,14.0,8.0,12.0
3,2017-1049,Auckland,Hard,32,I,20170102,297,211533,7.0,NaN,...,10.0,0.0,2.0,68.0,39.0,22.0,10.0,10.0,5.0,11.0
4,2017-1049,Auckland,Hard,32,I,20170102,296,201616,NaN,NaN,...,7.0,1.0,3.0,65.0,45.0,28.0,5.0,9.0,6.0,10.0

In [4]:
wta2017df[wta2017df['winner_ht'].isnull()]['winner_name'].count()

152

In [5]:
wta2017df[wta2017df['loser_ht'].isnull()]['loser_name'].count()

373

In [6]:
wta2017df['winner_ht'].value_counts()

177.0    197
174.0    193
170.0    172
180.0    156
184.0    106
168.0    101
185.0     99
173.0     88
182.0     87
172.0     80
166.0     76
178.0     75
175.0     70
176.0     69
163.0     62
179.0     56
169.0     55
181.0     49
164.0     48
162.0     37
183.0     28
161.0     23
157.0     19
171.0     19
165.0     18
186.0     14
167.0     11
159.0      9
188.0      9
189.0      3
Name: winner_ht, dtype: int64

In [7]:
wta2017df[wta2017df['winner_ht'].isnull()]['winner_name'].value_counts()

Laura Siegemund               13
Ana Bogdan                     6
Tereza Martincova              5
Jana Fett                      5
Sabina Sharipova               4
Fangzhou Liu                   4
Julia Boserup                  4
Cagla Buyukakcay               4
Ekaterina Alexandrova          4
Ajla Tomljanovic               4
Rebecca Sramkova               3
Kai Chen Chang                 3
Yafan Wang                     3
Tamara Korpatsch               3
Richel Hogenkamp               3
Bianca Andreescu               3
Alison Van Uytvanck            3
Jing Jing Lu                   3
Anna Kalinskaya                3
Fanny Stollar                  3
Kristie Ahn                    3
Kayla Day                      3
Antonia Lottner                3
Dalila Jakupovic               2
Basak Eraydin                  2
Eri Hozumi                     2
Irina Falconi                  2
Ivana Jorovic                  2
Dayana Yastremska              2
Louisa Chirico                 2
                              ..
Olga Saez Larra                1
Elena Gabriela Ruse            1
Jaimee Fourlis                 1
Riko Sawayanagi                1
Elitsa Kostova                 1
Lina Gjorcheska                1
Jaqueline Adina Cristian       1
Ayla Aksu                      1
Lizette Cabrera                1
Destanee Aiava                 1
Tena Lukas                     1
Amandine Hesse                 1
Jia Jing Lu                    1
Tereza Mrdeza                  1
Meiling Wang                   1
Cindy Burger                   1
Chloe Paquet                   1
Anna Zaja                      1
Asia Muhammed                  1
Chia Jung Chuang               1
Martina Trevisan               1
Petra Krejsova                 1
Valentini Grammatikopoulou     1
Miyu Kato                      1
Samantha Crawford              1
Silvia Soler Espinosa          1
Barbara Haas                   1
Caroline Dolehide              1
Viktoriya Tomova               1
Gabriela Dabrowski             1
Name: winner_name, Length: 70, dtype: int64

In [8]:
wta2017df[wta2017df['loser_ht'].isnull()]['loser_name'].value_counts()

Cagla Buyukakcay             10
Louisa Chirico               10
Ekaterina Alexandrova        10
Ajla Tomljanovic              8
Silvia Soler Espinosa         8
Ana Bogdan                    8
Julia Boserup                 8
Maryna Zanevska               8
Kai Chen Chang                8
Alison Van Uytvanck           7
Irina Khromacheva             7
Irina Falconi                 7
Anna Kalinskaya               6
Elizaveta Kulichkova          6
Miyu Kato                     6
Tereza Martincova             5
Richel Hogenkamp              5
Tamara Korpatsch              5
Ya Hsuan Lee                  5
Kayla Day                     5
Nadia Podoroska               4
Bianca Andreescu              4
Fiona Ferro                   4
Antonia Lottner               4
Fangzhou Liu                  4
Lesley Kerkhove               4
Elitsa Kostova                4
Su Jeong Jang                 4
Ipek Soylu                    3
Peangtarn Plipuech            3
                             ..
Alexa Glatch                  1
Prarthana G Thombare          1
Katharina Gerlach             1
Xenia Knoll                   1
Julia Glushko                 1
Sofya Zhuk                    1
Katarina Zavatska             1
Caroline Dolehide             1
Alize Lim                     1
Anastasia Potapova            1
Yue Yuan                      1
Anna Karolina Schmiedlova     1
Alla Kudryavtseva             1
Lina Qostal                   1
Mirjam Bjorklund              1
Dalma Galfi                   1
Mihaela Buzarnescu            1
Tena Lukas                    1
Hao Chen Tang                 1
Katharina Hobgarski           1
Lena Rueffer                  1
Olga Saez Larra               1
Zhaoxuan Yang                 1
Ayla Aksu                     1
Yi Fan Xu                     1
Magdalena Frech               1
Tara Moore                    1
Alexandra Dulgheru            1
Tereza Mrdeza                 1
Gabriela Dabrowski            1
Name: loser_name, Length: 154, dtype: int64

In [10]:
wta2016df= pd.read_csv("../data/clean/wta_matches_2016 (1).csv")
wta2016df.shape

(2900, 49)