# Data Analysis (part 4)

## Professors who teach multiple sections of the same course in the same semester
* This is not so common in Annenberg, but it is common in other departments that are popular in SAS
* Let's look at Economics professors to prove this point

In [1]:
%matplotlib inline

import json
import pandas as pd
import matplotlib.pyplot as plt
from pandas.io.json import json_normalize
import numpy as np
import matplotlib.pyplot as plt
import requests
import warnings
warnings.filterwarnings('ignore')
import seaborn as sns
import plotly_express as px
import math
import plotly

The first step will be repeating the procedure for loading in and cleaning the data, this time for ECON:

In [2]:
#repeating procedure for loading and cleaning data

econ_revs1 = requests.get('http://api.penncoursereview.com/v1/depts/econ/reviews/?token=rPY7nzxkE0Dqjzlu9LUDX2mV30W0qo').json()

econ_revs_df = json_normalize(econ_revs1['result']['values'])

### Cleaning the columns for our analysis

econ_revs_df2 = econ_revs_df.drop(columns=['comments','id', 'instructor.id', 'instructor.name','instructor.path','path','section.aliases',
                          'section.id','section.path',])

econ_revs_df2.columns = ['instructor_first', 'instructor_last', 
                         'num_reviewers','num_students', 
                      'AmountLearned',
       'CommAbility', 'CourseQuality', 'Difficulty',
       'InstructorAccess', 'InstructorQuality',
       'ReadingsValue', 'RecommendMajor',
       'RecommendNonMajor', 'StimulateInterest',
       'TAQuality', 'WorkRequired', 'CourseTitle',
       'CourseCode', 'Section', 'Semester']

#converting to numeric so we can work with stats
econ_revs_df2[['CourseQuality', 'InstructorQuality', 'Difficulty',
       'AmountLearned', 'WorkRequired', 'StimulateInterest',
       'InstructorAccess', 'CommAbility', 'ReadingsValue', 'TAQuality',
       'RecommendMajor', 'RecommendNonMajor', 'num_reviewers',
            'num_students']] = econ_revs_df2[['CourseQuality', 'InstructorQuality', 'Difficulty',
       'AmountLearned', 'WorkRequired', 'StimulateInterest',
       'InstructorAccess', 'CommAbility', 'ReadingsValue', 'TAQuality',
       'RecommendMajor', 'RecommendNonMajor', 'num_reviewers', 'num_students']].apply(pd.to_numeric)

#to split a course code to get level
econ_revs_df2['level']= econ_revs_df2['CourseCode'].apply(lambda v: v.split("-")[1])

#reordering the columns
econ_revs_df2 = econ_revs_df2[['CourseCode','level','Section','CourseTitle','Semester','instructor_first',
 'instructor_last','CourseQuality','InstructorQuality','Difficulty','AmountLearned','WorkRequired',
'StimulateInterest','InstructorAccess','CommAbility','ReadingsValue','TAQuality','RecommendMajor',
'RecommendNonMajor','num_reviewers','num_students']]

econ_revs_df2.head(5)

,CourseCode,level,Section,CourseTitle,Semester,instructor_first,instructor_last,CourseQuality,InstructorQuality,Difficulty,...,WorkRequired,StimulateInterest,InstructorAccess,CommAbility,ReadingsValue,TAQuality,RecommendMajor,RecommendNonMajor,num_reviewers,num_students
0,ECON-001-001,001,001,LECTURE,2002A,REBECCA,STEIN,2.52,2.97,2.82,...,2.22,2.40,3.13,2.88,2.29,NaN,3.57,2.40,98,195
1,ECON-001-002,001,002,LECTURE,2002A,REBECCA,STEIN,2.48,2.82,2.60,...,2.17,2.26,3.01,2.76,2.29,NaN,3.41,2.52,154,195
2,ECON-002-001,002,001,LECTURE,2002A,WENDY,EUDEY,3.03,3.47,2.59,...,2.17,3.13,3.38,3.43,2.25,NaN,3.66,2.95,104,156
3,ECON-002-002,002,002,LECTURE,2002A,WENDY,EUDEY,3.26,3.61,2.57,...,2.18,3.29,3.35,3.58,2.64,NaN,3.68,3.13,117,162
4,ECON-002-003,002,003,LECTURE,2002A,WENDY,EUDEY,3.08,3.41,2.52,...,2.01,3.10,3.22,3.48,2.35,NaN,3.63,2.95,144,160

In [3]:
# saving the raw data
econ_revs_df.to_csv('../data/raw_data/econ_revs_df',index=False)

In [4]:
# saving the cleaned data
econ_revs_df2.to_csv('../data/clean_data/econ_revs_df2',index=False)

#### We need to identify which professors teach multiple sections in a semester. For each semester, which instructors appear more than once?

In [5]:
multiple = econ_revs_df2[econ_revs_df2.duplicated(subset=['Semester','instructor_last','level'], keep=False)]
multiple

,CourseCode,level,Section,CourseTitle,Semester,instructor_first,instructor_last,CourseQuality,InstructorQuality,Difficulty,...,WorkRequired,StimulateInterest,InstructorAccess,CommAbility,ReadingsValue,TAQuality,RecommendMajor,RecommendNonMajor,num_reviewers,num_students
0,ECON-001-001,001,001,LECTURE,2002A,REBECCA,STEIN,2.52,2.97,2.82,...,2.22,2.40,3.13,2.88,2.29,NaN,3.57,2.40,98,195
1,ECON-001-002,001,002,LECTURE,2002A,REBECCA,STEIN,2.48,2.82,2.60,...,2.17,2.26,3.01,2.76,2.29,NaN,3.41,2.52,154,195
2,ECON-002-001,002,001,LECTURE,2002A,WENDY,EUDEY,3.03,3.47,2.59,...,2.17,3.13,3.38,3.43,2.25,NaN,3.66,2.95,104,156
3,ECON-002-002,002,002,LECTURE,2002A,WENDY,EUDEY,3.26,3.61,2.57,...,2.18,3.29,3.35,3.58,2.64,NaN,3.68,3.13,117,162
4,ECON-002-003,002,003,LECTURE,2002A,WENDY,EUDEY,3.08,3.41,2.52,...,2.01,3.10,3.22,3.48,2.35,NaN,3.63,2.95,144,160
5,ECON-002-004,002,004,LECTURE,2002A,JOHN,KNOWLES,2.32,2.27,2.79,...,2.33,2.14,2.34,2.25,2.49,NaN,3.32,2.39,72,97
6,ECON-002-005,002,005,LECTURE,2002A,JOHN,KNOWLES,2.46,2.40,2.75,...,2.42,2.22,2.30,2.31,2.44,NaN,3.39,2.34,79,125
8,ECON-003-001,003,001,MICROECON THEORY,2002A,JULIO,DAVILA,2.33,2.78,2.85,...,2.07,2.07,3.08,2.70,2.44,NaN,3.30,1.41,27,51
9,ECON-003-002,003,002,MICROECON THEORY,2002A,JULIO,DAVILA,2.64,3.11,2.64,...,2.17,2.14,2.85,3.06,2.09,NaN,3.69,1.50,36,43
17,ECON-005-002,005,002,STAT FOR ECONSTS,2002A,ROBERTO S,MARIANO,1.94,2.18,3.00,...,2.53,1.94,2.53,2.00,2.12,NaN,3.06,0.65,17,29
18,ECON-005-003,005,003,STAT FOR ECONSTS,2002A,ROBERTO S,MARIANO,2.44,3.06,3.11,...,2.72,2.44,3.17,2.56,2.44,NaN,3.50,1.06,18,25
39,ECON-001-001,001,001,LECTURE,2003A,REBECCA,STEIN,2.64,3.00,2.59,...,2.13,2.28,3.18,2.98,2.38,NaN,3.55,2.41,140,213
40,ECON-001-002,001,002,LECTURE,2003A,REBECCA,STEIN,2.55,2.98,2.68,...,2.19,2.37,3.09,2.98,2.19,NaN,3.53,2.45,174,208
42,ECON-002-001,002,001,LECTURE,2003A,WENDY,EUDEY,2.97,3.36,2.36,...,2.17,2.79,3.26,3.35,1.91,NaN,3.54,2.88,78,155
43,ECON-002-002,002,002,LECTURE,2003A,WENDY,EUDEY,2.96,3.42,2.46,...,2.09,2.94,3.21,3.39,1.81,NaN,3.60,2.85,125,166
44,ECON-002-003,002,003,LECTURE,2003A,WENDY,EUDEY,3.12,3.39,2.53,...,2.08,2.97,3.27,3.41,1.98,NaN,3.56,2.79,129,171
45,ECON-002-004,002,004,LECTURE,2003A,YONGSUNG,CHANG,2.47,2.27,2.63,...,2.27,1.80,2.66,2.03,2.57,NaN,3.27,2.60,31,87
46,ECON-002-005,002,005,LECTURE,2003A,YONGSUNG,CHANG,2.06,1.68,2.38,...,1.98,1.10,2.09,1.36,2.28,NaN,3.04,2.18,54,122
48,ECON-003-001,003,001,MICROECON THEORY,2003A,JULIO,DAVILA,2.23,2.34,2.63,...,2.20,1.66,2.24,2.09,2.36,NaN,3.25,1.63,35,43
49,ECON-003-002,003,002,MICROECON THEORY,2003A,JULIO,DAVILA,2.54,2.73,2.46,...,2.12,1.73,2.59,2.44,2.50,NaN,3.26,1.39,42,57
64,ECON-050-001,050,001,INTERNATIONAL ECONOMICS,2003A,STEPHEN R,YEAPLE,3.06,3.39,2.72,...,2.26,2.91,3.29,3.50,2.33,NaN,3.57,2.67,38,79
65,ECON-050-002,050,002,INTERNATIONAL ECONOMICS,2003A,STEPHEN R,YEAPLE,2.91,3.30,2.63,...,2.25,2.58,3.26,3.32,2.32,NaN,3.39,2.02,62,87
81,ECON-001-001,001,001,LECTURE,2002C,URIEL,SPIEGEL,2.51,2.48,2.77,...,2.20,2.21,2.96,2.23,2.52,NaN,3.31,2.58,84,148
82,ECON-001-002,001,002,LECTURE,2002C,REBECCA,STEIN,2.60,3.10,2.77,...,2.44,2.58,3.01,3.11,2.45,NaN,3.38,2.37,134,159
83,ECON-001-003,001,003,LECTURE,2002C,URIEL,SPIEGEL,2.43,2.64,2.77,...,2.41,2.40,2.98,2.24,2.47,NaN,3.40,2.45,120,147
84,ECON-001-004,001,004,LECTURE,2002C,REBECCA,STEIN,2.69,3.08,2.68,...,2.21,2.63,2.99,3.07,2.21,NaN,3.31,2.61,105,149
85,ECON-001-005,001,005,LECTURE,2002C,URIEL,SPIEGEL,2.41,2.62,2.69,...,2.31,2.55,2.70,2.10,2.45,NaN,3.05,2.34,139,140
86,ECON-001-006,001,006,LECTURE,2002C,REBECCA,STEIN,2.73,3.30,2.71,...,2.35,2.82,3.17,3.24,2.24,NaN,3.44,2.52,131,157
88,ECON-002-001,002,001,LECTURE,2002C,WENDY,EUDEY,3.10,3.53,2.45,...,2.10,3.07,3.54,3.64,2.13,NaN,3.74,2.87,100,143
89,ECON-002-002,002,002,LECTURE,2002C,WENDY,EUDEY,2.76,3.26,2.45,...,2.09,2.59,3.43,3.22,1.73,NaN,3.59,2.51,110,147
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1099,ECON-010-001,010,001,INTRO TO ECON FOR BUS,2016C,GIZEM,SAKA,2.59,2.68,2.38,...,1.99,2.78,2.49,2.96,NaN,2.07,NaN,NaN,210,214
1100,ECON-010-001,010,001,INTRO TO ECON FOR BUS,2016C,ANNE L.,DUCHENE,2.59,3.05,2.38,...,1.99,3.05,2.69,3.26,NaN,2.07,NaN,NaN,210,214
1101,ECON-010-002,010,002,INTRO TO ECON FOR BUS,2016C,GIZEM,SAKA,2.60,2.59,2.44,...,2.01,2.75,2.49,2.88,NaN,2.04,NaN,NaN,177,185
1102,ECON-010-002,010,002,INTRO TO ECON FOR BUS,2016C,ANNE L.,DUCHENE,2.60,3.06,2.44,...,2.01,3.05,2.82,3.30,NaN,2.04,NaN,NaN,177,185
1124,ECON-001-001,001,001,INTRO TO ECON MICRO,2017C,ANNE L.,DUCHENE,2.61,2.80,2.84,...,2.49,2.90,2.87,3.08,NaN,2.45,NaN,NaN,220,228
1125,ECON-001-002,001,002,INTRO TO ECON MICRO,2017C,ANNE L.,DUCHENE,2.58,2.86,2.69,...,2.31,2.83,2.85,3.12,NaN,2.56,NaN,NaN,217,226
1126,ECON-001-003,001,003,INTRO TO ECON MICRO,2017C,ANNE L.,DUCHENE,2.68,2.88,2.59,...,2.20,2.89,2.88,3.15,NaN,2.56,NaN,NaN,197,203
1128,ECON-002-001,002,001,INTRO TO ECON MACRO,2017C,LUCA,BOSSI,2.26,2.49,2.94,...,2.62,2.85,3.05,2.83,NaN,2.40,NaN,NaN,76,82
1129,ECON-002-002,002,002,INTRO TO ECON MACRO,2017C,LUCA,BOSSI,2.21,2.25,2.87,...,2.32,2.32,2.84,2.55,NaN,2.08,NaN,NaN,55,57
1131,ECON-010-001,010,001,INTRO TO ECON FOR BUS,2017C,GIZEM,SAKA,3.18,3.55,2.35,...,2.09,3.42,2.39,3.54,NaN,2.09,NaN,NaN,191,195
1132,ECON-010-002,010,002,INTRO TO ECON FOR BUS,2017C,GIZEM,SAKA,3.43,3.65,2.40,...,2.13,3.51,2.41,3.72,NaN,2.29,NaN,NaN,222,228
1158,ECON-001-001,001,001,INTRO TO ECON MICRO,2017A,REBECCA,STEIN,2.54,2.83,2.78,...,2.91,2.81,3.06,3.08,NaN,2.62,NaN,NaN,74,83
1159,ECON-001-002,001,002,INTRO TO ECON MICRO,2017A,REBECCA,STEIN,2.66,2.94,2.70,...,2.82,2.92,3.07,2.97,NaN,2.81,NaN,NaN,110,120
1161,ECON-002-001,002,001,INTRO TO ECON MACRO,2017A,LUCA,BOSSI,2.07,2.11,2.95,...,2.59,2.31,2.81,2.52,NaN,2.62,NaN,NaN,174,202
1162,ECON-002-002,002,002,INTRO TO ECON MACRO,2017A,LUCA,BOSSI,2.00,1.96,2.82,...,2.50,2.18,2.71,2.37,NaN,2.54,NaN,NaN,205,233
1183,ECON-001-001,001,001,INTRODUCTION TO MICRO ECONOMICS,2018A,ANNE L.,DUCHENE,2.60,2.88,2.59,...,2.30,2.86,2.91,3.14,NaN,2.62,NaN,NaN,80,85
1184,ECON-001-002,001,002,INTRO ECON MICRO,2018A,ANNE L.,DUCHENE,2.54,2.98,2.65,...,2.47,2.87,3.11,3.17,NaN,2.68,NaN,NaN,129,139
1186,ECON-002-001,002,001,INTRO ECON MACRO,2018A,LUCA,BOSSI,1.93,1.88,2.84,...,2.49,2.32,2.62,2.44,NaN,2.56,NaN,NaN,169,193
1187,ECON-002-002,002,002,INTRO ECON MACRO,2018A,LUCA,BOSSI,1.79,1.79,3.05,...,2.52,2.02,2.69,2.17,NaN,2.23,NaN,NaN,225,259
1222,ECON-001-001,001,001,INTRO ECON MICRO,2018C,ANNE L.,DUCHENE,2.49,2.67,2.73,...,2.53,2.79,2.85,3.00,NaN,2.40,NaN,NaN,220,228
1223,ECON-001-002,001,002,INTRO ECON MICRO,2018C,ANNE L.,DUCHENE,2.52,2.79,2.76,...,2.64,2.79,2.92,3.07,NaN,2.31,NaN,NaN,216,229
1224,ECON-001-003,001,003,INTRO ECON MICRO,2018C,ANNE L.,DUCHENE,2.60,2.86,2.68,...,2.61,2.93,3.03,3.06,NaN,2.30,NaN,NaN,206,224
1226,ECON-002-001,002,001,INTRO ECON MACRO,2018C,LUCA,BOSSI,1.97,1.98,2.78,...,2.43,2.37,2.70,2.63,NaN,2.25,NaN,NaN,68,70
1227,ECON-002-002,002,002,INTRO ECON MACRO,2018C,LUCA,BOSSI,1.98,2.04,2.92,...,2.41,2.36,2.70,2.55,NaN,2.35,NaN,NaN,83,86
1229,ECON-010-001,010,001,INTRO TO ECON FOR BUS,2018C,GIZEM,SAKA,3.12,3.32,2.33,...,1.86,3.21,2.46,3.43,NaN,2.29,NaN,NaN,160,175
1230,ECON-010-002,010,002,INTRO TO ECON FOR BUS,2018C,GIZEM,SAKA,3.08,3.38,2.46,...,1.99,3.07,2.27,3.52,NaN,2.38,NaN,NaN,222,233
1254,ECON-001-001,001,001,INTRODUCTION TO MICRO ECONOMICS,2019A,ANNE L.,DUCHENE,2.74,3.20,2.31,...,2.32,3.00,3.22,3.27,NaN,2.62,NaN,NaN,78,86
1255,ECON-001-002,001,002,LECTURE,2019A,ANNE L.,DUCHENE,2.81,3.10,2.83,...,2.53,3.01,3.00,3.30,NaN,2.84,NaN,NaN,106,118
1257,ECON-002-001,002,001,LECTURE,2019A,LUCA,BOSSI,1.70,1.63,3.04,...,2.58,2.05,2.53,2.13,NaN,1.74,NaN,NaN,183,201
1258,ECON-002-002,002,002,LECTURE,2019A,LUCA,BOSSI,1.51,1.48,3.16,...,2.61,1.81,2.53,1.90,NaN,1.95,NaN,NaN,211,231

#### Now, which courses have been taught multiple sections in a given term?

In [6]:
# which courses are offered 
multiple['level'].unique()

array(['001', '002', '003', '005', '050', '006', '220', '101', '102',
       '103', '010', '104', '302'], dtype=object)

In [7]:
# how many sections are typically offered?
multiple_sections = multiple['Section'].unique()
multiple_sections

array(['001', '002', '003', '004', '005', '006', '401', '402'],
      dtype=object)

In [8]:
# who are the professors teaching multiple?
multiple_profs = multiple['instructor_last'].unique()
multiple_profs

array(['STEIN', 'EUDEY', 'KNOWLES', 'DAVILA', 'MARIANO', 'CHANG',
       'YEAPLE', 'SPIEGEL', 'BRUNETTI', 'DIEBOLD', 'SCHORFHEIDE',
       'MANOVSKII', 'NOCKE', 'MENZIO', 'DE PAULA', 'KRASNOKUTSKAYA',
       'GOLAN', 'OZMUCUR', 'LI', 'SONG', 'KIRCHER', 'TANG', 'JAO',
       'FIELER', 'OKADA', 'CHENG', 'BOSSI', 'BACHMANN', 'SAKA', 'DAVID',
       'DUCHENE'], dtype=object)

In [9]:
#let's do one analysis to see how it will work, 
#then iterate over our list of multiple_profs
multiple[multiple['instructor_last']=='STEIN'].groupby('Section').mean()

,CourseQuality,InstructorQuality,Difficulty,AmountLearned,WorkRequired,StimulateInterest,InstructorAccess,CommAbility,ReadingsValue,TAQuality,RecommendMajor,RecommendNonMajor,num_reviewers,num_students
Section,,,,,,,,,,,,,,
001,2.766071,3.184286,2.750714,2.927895,2.373214,2.919643,3.137857,3.193929,2.389474,2.828889,3.466316,2.615789,133.785714,178.321429
002,2.791379,3.202759,2.711724,2.926000,2.355172,2.952759,3.112414,3.197586,2.359500,2.882222,3.495500,2.644500,160.827586,185.068966
003,3.014545,3.379091,2.693636,3.080000,2.231818,3.138182,3.186364,3.350909,2.388750,2.780000,3.676250,2.877500,163.000000,191.272727
004,3.022000,3.426000,2.716000,3.066000,2.270000,3.142000,3.264000,3.384000,2.432000,NaN,3.670000,2.904000,156.600000,185.000000
006,2.730000,3.300000,2.710000,2.860000,2.350000,2.820000,3.170000,3.240000,2.240000,NaN,3.440000,2.520000,131.000000,157.000000

So Rebecca Stein has taught sections 001 through 006, and her means along various variables do have a somewhat wide range.

#### We will need to use a for loop to iterate over our list of sections AND our list of professors who teach multiple sections. 
* We will need a new dataframe to store the results
* We will need an empty array to store the means for each section
* We need to find where a given professor is teaching the same section more than once
* This is going to have to include a loop within a loop

In [10]:
mult_profs_revs = pd.DataFrame()
mult_profs_revs['instructor'] = multiple_profs

#for loop:

for sect in multiple_sections:
    means = []
    for prof in multiple_profs:
        p = multiple[(multiple['instructor_last'] == prof) & 
                     (multiple['Section'] == sect)]['InstructorQuality'].mean()
        means.append(p)
    mult_profs_revs[sect] = means

In [11]:
mult_profs_revs

,instructor,001,002,003,004,005,006,401,402
0,STEIN,3.184286,3.202759,3.379091,3.426000,NaN,3.300000,NaN,NaN
1,EUDEY,3.073125,3.031250,3.194000,NaN,NaN,NaN,NaN,NaN
2,KNOWLES,2.380000,2.750000,NaN,2.270000,2.4000,NaN,NaN,NaN
3,DAVILA,2.560000,2.920000,NaN,NaN,NaN,NaN,NaN,NaN
4,MARIANO,NaN,2.180000,3.060000,NaN,NaN,NaN,NaN,NaN
5,CHANG,NaN,NaN,NaN,2.270000,1.6800,NaN,NaN,NaN
6,YEAPLE,3.353333,3.313333,NaN,NaN,NaN,NaN,NaN,NaN
7,SPIEGEL,2.195556,2.157500,2.640000,2.606667,2.5125,2.596667,NaN,NaN
8,BRUNETTI,3.320000,3.220000,NaN,NaN,NaN,NaN,NaN,NaN
9,DIEBOLD,3.227500,3.200000,NaN,NaN,NaN,NaN,NaN,NaN
10,SCHORFHEIDE,3.000000,3.000000,NaN,NaN,NaN,NaN,NaN,NaN
11,MANOVSKII,2.372857,2.327143,NaN,NaN,NaN,NaN,NaN,NaN
12,NOCKE,3.170000,3.220000,NaN,NaN,NaN,NaN,NaN,NaN
13,MENZIO,2.790000,2.935000,NaN,NaN,NaN,NaN,NaN,NaN
14,DE PAULA,2.940000,2.860000,2.550000,NaN,NaN,NaN,NaN,NaN
15,KRASNOKUTSKAYA,2.220000,2.350000,NaN,NaN,NaN,NaN,NaN,NaN
16,GOLAN,2.100000,NaN,1.280000,NaN,NaN,NaN,NaN,NaN
17,OZMUCUR,2.506667,2.706667,NaN,NaN,NaN,NaN,NaN,NaN
18,LI,1.515000,2.020000,NaN,NaN,NaN,NaN,NaN,NaN
19,SONG,2.230000,2.060000,NaN,NaN,NaN,NaN,NaN,NaN
20,KIRCHER,3.055000,2.930000,NaN,NaN,NaN,NaN,NaN,NaN
21,TANG,NaN,1.910000,2.165000,NaN,NaN,NaN,NaN,NaN
22,JAO,1.036667,1.346667,NaN,NaN,NaN,NaN,NaN,NaN
23,FIELER,2.020000,2.000000,NaN,NaN,NaN,NaN,NaN,NaN
24,OKADA,NaN,2.290000,2.520000,NaN,NaN,NaN,NaN,NaN
25,CHENG,3.070000,2.410000,NaN,NaN,NaN,NaN,NaN,NaN
26,BOSSI,2.348889,2.263333,NaN,NaN,NaN,NaN,NaN,NaN
27,BACHMANN,1.220000,1.380000,NaN,NaN,NaN,NaN,NaN,NaN
28,SAKA,3.354286,3.318571,NaN,NaN,NaN,NaN,NaN,NaN
29,DAVID,NaN,NaN,NaN,NaN,NaN,NaN,3.24,3.35
30,DUCHENE,2.890000,2.920000,2.745000,2.735000,NaN,NaN,NaN,NaN

#### Insights from above:
* NaN values are where a professor has not taught that section number
* But each professor in the dataframe has taught more than one
* Typically (cross checked with course rosters historically) the higher numbers are taught later in the day and lower numbers taught first 
* There are differences detectable between a professor's multiple sections taught of a given course within a semester
* Some professors improve as the day goes on, some not - case-by-case basis but still important for students to check it out
* It did not make sense to take the means down the columns of the above because a professor-by-professor breakdown is a more fair way to see how things change across sections taught, whereas 001 appears way more often than 006, etc.

In [12]:
# this very rarely happens in COMM so it is not something that COMM majors must worry about
#does it ever happen in COMM?
comm_revs_df2 = pd.read_csv('../data/clean_data/comm_revs_df2')
comm_revs_df2[comm_revs_df2.duplicated(subset=['Semester','instructor_last','level'], keep=False)]

,CourseCode,level,Section,CourseTitle,Semester,instructor_first,instructor_last,CourseQuality,InstructorQuality,Difficulty,...,StimulateInterest,InstructorAccess,CommAbility,ReadingsValue,TAQuality,RecommendMajor,RecommendNonMajor,num_reviewers,num_students,hundred
278,COMM-281-301,281,301,RACE FILMS: SPIKE LEE,2008C,JOHN L.,JACKSON,2.88,3.50,2.19,...,3.31,3.38,3.31,2.88,NaN,3.13,2.81,17,18,2
295,ENGL-281-401,281,401,Race Films: Spike Lee and his Interlocutors,2008C,JOHN L.,JACKSON,3.00,3.42,2.25,...,3.22,3.24,3.31,2.75,NaN,3.25,2.75,65,72,2
452,COMM-399-001,399,1,"INDEPENDENT STUDY: Teenagers, Media, and Self-...",2012C,AMY B.,JORDAN,4.00,4.00,2.00,...,4.00,4.00,4.00,4.00,NaN,4.00,4.00,1,1,3
453,COMM-399-002,399,2,INDEPENDENT STUDY,2012C,AMY B.,JORDAN,3.00,4.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,3
454,COMM-399-003,399,3,INDEPENDENT STUDY: Safe Sex Messages in Televi...,2012C,AMY B.,JORDAN,4.00,4.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,3
455,COMM-399-004,399,4,INDEPENDENT STUDY: Non-Profit Partnerships: Sc...,2012C,AMY B.,JORDAN,4.00,4.00,3.00,...,4.00,4.00,4.00,4.00,NaN,4.00,3.00,1,1,3
482,ASAM-201-401,201,401,IMMIGRANT URBAN LABOR IN THE U.S.,2013A,TAMARA K.,NOPPER,2.76,3.14,2.00,...,3.07,2.87,3.53,NaN,NaN,NaN,NaN,22,24,2
483,ASAM-201-601,201,601,Asian Americans and Popular Culture,2013A,TAMARA K.,NOPPER,3.34,3.45,2.16,...,3.44,2.74,3.60,NaN,3.5,NaN,NaN,30,32,2

Confirmed: this is not something COMM majors need be concerned with.