In [1]:
%matplotlib inline

import matplotlib.pyplot as plt
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point
import json

In [2]:
income_geo_df=gpd.read_file('../../data/Raw_Data/Income files/SimplyAnalytics_Shapefiles_2019-12-03_05_13_16_89807a0551dabf581fad0dc3275f5cf9.shp')

* This dataset shows the median income for each zipcode in Philly. By graphing this with a graph of diabetes rates, I can see the relationship between income level and diabetes in Philly zipcodes. As I begin to analyze my data for farmers markets, healthy corner stores, and convenience stores, I will begin to answer my research question of if varying levels of access to healthy and unhealthy food is consistent with the correlation between income and diabetes, or rather, if lower income areas are susceptible to higher levels of diabetes partly because of lower access to healthy foods.

# Exploration

In [3]:
income_geo_df.shape

(48, 4)

* All 48 zipcodes of Philly are documented in this dataset since each row pertains to a zipcode.

In [4]:
income_geo_df.head()

,spatial_id,name,VALUE0,geometry
0,19102,"19102, Philadelphia, PA",84800.0,POLYGON ((-75.16728099999999 39.95825899907105...
1,19103,"19103, Philadelphia, PA",78933.0,POLYGON ((-75.18090899999999 39.95298199907108...
2,19104,"19104, Philadelphia, PA",27647.0,POLYGON ((-75.21206899999999 39.97021099907098...
3,19106,"19106, Philadelphia, PA",112116.0,(POLYGON ((-75.14433099999998 39.9298249990712...
4,19107,"19107, Philadelphia, PA",63548.0,POLYGON ((-75.16402299999997 39.95162799907109...

In [5]:
income_geo_df.columns

Index(['spatial_id', 'name', 'VALUE0', 'geometry'], dtype='object')

The information most relevant to my research will be __geometry, value0, and spatial-id__.

In [6]:
income_geo_df['geometry'].head()

0    POLYGON ((-75.16728099999999 39.95825899907105...
1    POLYGON ((-75.18090899999999 39.95298199907108...
2    POLYGON ((-75.21206899999999 39.97021099907098...
3    (POLYGON ((-75.14433099999998 39.9298249990712...
4    POLYGON ((-75.16402299999997 39.95162799907109...
Name: geometry, dtype: object

In [7]:
income_geo_df['VALUE0'].head()

0     84800.0
1     78933.0
2     27647.0
3    112116.0
4     63548.0
Name: VALUE0, dtype: float64

__value0__ is the median income level.

In [8]:
income_geo_df['spatial_id'].head()

0    19102
1    19103
2    19104
3    19106
4    19107
Name: spatial_id, dtype: object

In [9]:
income_geo_df['spatial_id'].unique()

array(['19102', '19103', '19104', '19106', '19107', '19109', '19111',
       '19112', '19114', '19115', '19116', '19118', '19119', '19120',
       '19121', '19122', '19123', '19124', '19125', '19126', '19127',
       '19128', '19129', '19130', '19131', '19132', '19133', '19134',
       '19135', '19136', '19137', '19138', '19139', '19140', '19141',
       '19142', '19143', '19144', '19145', '19146', '19147', '19148',
       '19149', '19150', '19151', '19152', '19153', '19154'], dtype=object)

In [10]:
income_geo_df['spatial_id'].nunique()

48

# Cleaning

In [11]:
cleaned_income_df=income_geo_df[['spatial_id', 'VALUE0', 'geometry']]
cleaned_income_df.head()

  spatial_id    VALUE0                                           geometry
0      19102   84800.0  POLYGON ((-75.16728099999999 39.95825899907105...
1      19103   78933.0  POLYGON ((-75.18090899999999 39.95298199907108...
2      19104   27647.0  POLYGON ((-75.21206899999999 39.97021099907098...
3      19106  112116.0  (POLYGON ((-75.14433099999998 39.9298249990712...
4      19107   63548.0  POLYGON ((-75.16402299999997 39.95162799907109...

* This condensed version shows me only the columns I care about.

In [12]:
cleaned_income_df.columns = ['Zipcode', 'Median Income', 'geometry']
cleaned_income_df.head()

  Zipcode  Median Income                                           geometry
0   19102        84800.0  POLYGON ((-75.16728099999999 39.95825899907105...
1   19103        78933.0  POLYGON ((-75.18090899999999 39.95298199907108...
2   19104        27647.0  POLYGON ((-75.21206899999999 39.97021099907098...
3   19106       112116.0  (POLYGON ((-75.14433099999998 39.9298249990712...
4   19107        63548.0  POLYGON ((-75.16402299999997 39.95162799907109...

* This has titles that are nicer-looking and more accurate.