In [1]:
%matplotlib inline
import pandas as pd
import geopandas as gpd
import plotly.express as px
import plotly
import matplotlib.pyplot as plt
import pandas as pd
from IPython.display import display
from IPython.display import Image
import pandas as pd
import numpy as np

In [2]:
education=gpd.read_file('../../data/Raw_Data/Education files/SimplyAnalytics_Shapefiles_2019-12-13_18_56_17_ccc5dd5279b84a232c60ea1bb5cf8519.shp')

* This dataset shows the number of people who have a degree for college, bachelor's, or masters in each zipcode. This will serve as an indication of education level - the higher the number, the higher the education level in each zipcode. By graphing this again graphs for income and diabetes rates, I can see the relationship between education level and these other variables.

# Exploration

In [3]:
education.shape

(48, 4)

* All 48 zipcodes are accounts for in this dataset and there are 4 columns of details pertaining to each zipcode.

In [4]:
education.head()

,spatial_id,name,VALUE0,geometry
0,19102,"19102, Philadelphia, PA",2890.0,POLYGON ((-75.16728099999999 39.95825899907105...
1,19103,"19103, Philadelphia, PA",12146.0,POLYGON ((-75.18090899999999 39.95298199907108...
2,19104,"19104, Philadelphia, PA",6592.0,POLYGON ((-75.21206899999999 39.97021099907098...
3,19106,"19106, Philadelphia, PA",5821.0,(POLYGON ((-75.14433099999998 39.9298249990712...
4,19107,"19107, Philadelphia, PA",11420.0,POLYGON ((-75.16402299999997 39.95162799907109...

In [5]:
education.columns

Index(['spatial_id', 'name', 'VALUE0', 'geometry'], dtype='object')

The information most relevant to my research will be __geometry, VALUE0, and spatial_id__.

In [6]:
education['geometry'].head()

0    POLYGON ((-75.16728099999999 39.95825899907105...
1    POLYGON ((-75.18090899999999 39.95298199907108...
2    POLYGON ((-75.21206899999999 39.97021099907098...
3    (POLYGON ((-75.14433099999998 39.9298249990712...
4    POLYGON ((-75.16402299999997 39.95162799907109...
Name: geometry, dtype: object

In [7]:
education['VALUE0'].head()

0     2890.0
1    12146.0
2     6592.0
3     5821.0
4    11420.0
Name: VALUE0, dtype: float64

In [8]:
education['spatial_id'].unique()

array(['19102', '19103', '19104', '19106', '19107', '19109', '19111',
       '19112', '19114', '19115', '19116', '19118', '19119', '19120',
       '19121', '19122', '19123', '19124', '19125', '19126', '19127',
       '19128', '19129', '19130', '19131', '19132', '19133', '19134',
       '19135', '19136', '19137', '19138', '19139', '19140', '19141',
       '19142', '19143', '19144', '19145', '19146', '19147', '19148',
       '19149', '19150', '19151', '19152', '19153', '19154'], dtype=object)

In [9]:
education['spatial_id'].unique()

array(['19102', '19103', '19104', '19106', '19107', '19109', '19111',
       '19112', '19114', '19115', '19116', '19118', '19119', '19120',
       '19121', '19122', '19123', '19124', '19125', '19126', '19127',
       '19128', '19129', '19130', '19131', '19132', '19133', '19134',
       '19135', '19136', '19137', '19138', '19139', '19140', '19141',
       '19142', '19143', '19144', '19145', '19146', '19147', '19148',
       '19149', '19150', '19151', '19152', '19153', '19154'], dtype=object)

In [10]:
education['spatial_id'].nunique()

48

All 48 zipcodes of Philly are accounted here.

# Cleaning

In [11]:
education=education[['spatial_id', 'VALUE0', 'geometry']]
education.head()

  spatial_id   VALUE0                                           geometry
0      19102   2890.0  POLYGON ((-75.16728099999999 39.95825899907105...
1      19103  12146.0  POLYGON ((-75.18090899999999 39.95298199907108...
2      19104   6592.0  POLYGON ((-75.21206899999999 39.97021099907098...
3      19106   5821.0  (POLYGON ((-75.14433099999998 39.9298249990712...
4      19107  11420.0  POLYGON ((-75.16402299999997 39.95162799907109...

* This condensed version shows me only the columns I care about.

In [12]:
education.columns = ['Zipcode', 'Education Level', 'geometry']
education.head()

  Zipcode  Education Level                                           geometry
0   19102           2890.0  POLYGON ((-75.16728099999999 39.95825899907105...
1   19103          12146.0  POLYGON ((-75.18090899999999 39.95298199907108...
2   19104           6592.0  POLYGON ((-75.21206899999999 39.97021099907098...
3   19106           5821.0  (POLYGON ((-75.14433099999998 39.9298249990712...
4   19107          11420.0  POLYGON ((-75.16402299999997 39.95162799907109...

* This has titles that are nicer-looking and more accurate.