In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import math
import os
import glob
import numpy as np

#import energy usage data of Philadelphia's buildings from 2013-2017
yr2013_df = pd.read_csv('../data/energy_usage_large_commercial_buildings_reported_2013.csv')
yr2014_df = pd.read_csv('../data/energy_usage_large_commercial_buildings_reported_2014.csv')
yr2015_df = pd.read_csv('../data/properties_reported_2015.csv')
yr2016_df = pd.read_csv('../data/properties_reported_2016.csv')
yr2017_df = pd.read_csv('../data/properties_reported_2017.csv')

# Timeline Notebook

This brief notebook will carry out different codes that I need for my article about the timeline of energy efficiency initiatives in Philly.

It will mostly take a look at individual years and total things to create a story about what happened each year since the programs -- as told by the data

For example, for every year I want to give the readers the sum of the GHG emissions in Philly for that year.

## 2013 Data

In [2]:
yr2013_df.sample(10)

,the_geom,lng,year_built,electricity_use_grid_purchase_and_generated_from_onsite_renewab,energy_star_score,portfolio_manager_id,water_use_all_water_sources_kgal,district_steam_use_kbtu,site_eui_kbtu_ft2,philadelphia_building_id,...,fuel_oil_2_use_kbtu,number_of_buildings,property_floor_area_buildings_and_parking_ft,postal_code,natural_gas_use_kbtu,notes,total_ghg_emissions_mtco2e,primary_property_type_epa_calculated,lat,source_eui_kbtu_ft2
28,0101000020E6100000DC3B9214B6CA52C0A0B8B0C9F5F9...,-75.167363,1983,42355749.1,85,1750750,11870.7,Not Available,59.9,883031500.0,...,Not Available,1,930550.0,19103.0,12855809.1,NaN,6046.1,Office,39.952813,159.0
294,0101000020E6100000FC62A93A33CB52C078B03CEA1D04...,-75.175002,1975,1518253.0,95,3892802,8534.8,Not Available,103.7,881447201.0,...,Not Available,1,50797.0,19144.0,3749442.9,NaN,391.3,Senior Care Community,40.032163,171.4
333,0101000020E6100000745DB0358ACB52C0F01458BEB6F1...,-75.180311,1907,2161843.2,1,3891456,NaN,Not Available,32.7,788008800.0,...,Not Available,1,66092.0,19112.0,Not Available,NaN,273.8,Non-Refrigerated Warehouse,39.888389,102.7
301,0101000020E610000000C5538502C952C0F02448300B06...,-75.140779,1965,4052862.3,Not Available,3681796,3553.1,Not Available,80.4,776554000.0,...,2415000,1,81018.0,19141.0,42059.9,NaN,694.6,College/University,40.047216,187.7
695,0101000020E6100000F47B391EF9CD52C0306EE58A6AF1...,-75.218330,1969,9538290.4,61,4123417,340.6,Not Available,52.9,773102500.0,...,Not Available,1,385000.0,19153.0,10844243.2,NaN,1783.4,Non-Refrigerated Warehouse,39.886064,107.4
865,0101000020E610000028A9FE349ACB52C028383CC44CF5...,-75.181287,1941,11726829.0,70,3882112,4909.6,Not Available,74.7,884095052.0,...,Not Available,1,196375.0,19145.0,2940135.2,NaN,1641.1,Office,39.916405,203.2
194,0101000020E61000005099FC2B38C852C0E069339AD102...,-75.128428,1955,26863187.8,Not Available,3694569,3721.6,Not Available,117.4,884353345.0,...,0,2,475000.0,19140.0,28890396.1,NaN,4935.2,Other - Public Services,40.022022,241.4
774,0101000020E6100000A82CCF58BBCB52C0C00EF95A5C02...,-75.183310,1953,19651489.1,Not Available,3779718,45020.8,Not Available,220.0,884461930.0,...,Not Available,3,110000.0,19129.0,4549340.1,NaN,2730.0,Drinking Water Treatment & Distribution,40.018443,604.4
670,0101000020E610000078E142DCC4C252C07836EDC7450B...,-75.043265,1973,6432701.6,Not Available,3669125,16.2,Not Available,81.9,882069300.0,...,Not Available,2,117000.0,19115.0,3149778.8,NaN,981.8,Fitness Center/Health Club/Gym,40.088067,200.9
779,0101000020E61000004C76A3F7BCCE52C058E4A5424CF3...,-75.230284,1990,1791429.0,Not Available,3697846,82.9,Not Available,20.2,884167500.0,...,Not Available,1,247447.0,19153.0,3217518.6,NaN,397.7,Non-Refrigerated Warehouse,39.900765,36.4

In [3]:
#Drop the null values
yr2013_sum=yr2013_df[-yr2013_df['total_ghg_emissions_mtco2e'].isnull()]

In [4]:
#calculate the sum GHG emission in 2013
yr2013_sum['total_ghg_emissions_mtco2e'].astype('int')

0        704
1        619
2       1685
3         24
4        413
5          0
6        194
7        423
9        468
10         0
11      4029
12       506
13      1222
14      2100
15      2408
16      1592
17      1232
18      9876
19       154
20       334
21      1281
22       393
23       408
24       598
25       284
26       552
27      1553
28      6046
29       328
30        81
       ...
969      594
970       88
971      126
972     1796
973     1712
974      498
975     6841
976       22
977    86672
978      638
979     2353
980      508
981     1319
982     1257
983     1012
984      584
986     2153
987     1400
988       45
989     2839
990      525
991      748
992      365
993     6291
994      181
995      725
996     1472
997     2070
998      471
999      137
Name: total_ghg_emissions_mtco2e, Length: 979, dtype: int64

In [5]:
yr2013_sum['total_ghg_emissions_mtco2e'].sum()

2653688.0

Total energy emissions for 2013= 2,653,688

#### SF reported in 2013

In [6]:
#clean dataframe from NA's
yr2013_sum2=yr2013_df[-yr2013_df['property_floor_area_buildings_and_parking_ft'].isnull()]

In [7]:
#turn into integers to sum
yr2013_sum2['property_floor_area_buildings_and_parking_ft'].astype('int')

0      109651
1       79200
2       59101
3       64638
4       51676
5      105890
6       22230
7       55000
8       55831
9       62100
10      52656
11     155715
12      81640
13      79883
14     102855
15     225688
16     201897
17     112380
18     543134
19     129025
20      57500
21      75176
22      61000
23      88183
24     100000
25      56265
26      50704
27     104710
28     930550
29      60158
        ...
969     93000
970     90000
971     73983
972     63342
973    128347
974     50456
975    885786
976     65000
977    530000
978     79000
979    407605
980     80000
981     72000
982    125000
983    108000
984    110000
985     50000
986     84596
987     94500
988     59301
989    238493
990     94235
991    243057
993    759072
994     58740
995    106218
996    221000
997    322610
998     80000
999     99140
Name: property_floor_area_buildings_and_parking_ft, Length: 988, dtype: int64

In [8]:
yr2013_sum2['property_floor_area_buildings_and_parking_ft'].sum()

238152464.0

## 2014 Data

In [12]:
#clean up 2014 dataframe from null value
yr2014_sum=yr2014_df[-yr2014_df['total_ghg_emissions_mtco2e'].isnull()]

In [13]:
yr2014_sum['total_ghg_emissions_mtco2e'].astype('int')

0        651
1        715
2         88
3        373
4        546
5        491
6        588
7        373
8        362
9        348
10       858
11      2143
12       550
13      5843
14      3024
15       979
16      2329
17      1018
18      1946
19      1708
20       569
21      1102
22       427
23      1268
24       651
25      3161
26      1669
27      2280
28      7124
29      7553
       ...
970    10308
971      903
972     1484
973     3910
974     1748
975      297
976      808
977      520
978      116
979       95
980      779
981      449
982    16875
983       81
984      900
985    10413
986      736
987      678
988     8705
989      802
990      410
991       82
992     1025
993      100
994    13895
995     6910
996     1276
997      859
998      160
999       55
Name: total_ghg_emissions_mtco2e, Length: 986, dtype: int64

In [14]:
yr2014_sum['total_ghg_emissions_mtco2e'].sum()

2474802.0999999996

2014 emmissions= 2,474,802.0999999996 tons

In [15]:
yr2014_sum2=yr2014_df[-yr2014_df['property_floor_area_buildings_and_parking_ft'].isnull()]

In [16]:
yr2014_sum2['property_floor_area_buildings_and_parking_ft'].astype('int')

0        58200
1       217560
2        59850
3        52500
4        69475
5        70644
6        94235
7        52258
8        53400
9        55000
10      138123
11      273901
12       75000
13      635839
14      176360
15       64611
16      167003
17       89077
18      237906
19      128347
20       72479
21      313000
22      110000
23      113332
24       69093
25      449750
26      111090
27      153050
28      169976
29      757521
        ...
970     977314
971      75676
972     162000
973     800562
974      59101
975      86394
976     149500
977      73000
978     208000
979      80140
980      84357
981      83510
982    1086260
983     100000
984      54931
985     168651
986      87000
987     120000
988     925698
989     129264
990      98719
991      54240
992     259257
993      90000
994     804000
995     699896
996      41740
997     102000
998      47000
999      77576
Name: property_floor_area_buildings_and_parking_ft, Length: 993, dtype: int64

In [17]:
yr2014_sum2['property_floor_area_buildings_and_parking_ft'].sum()

222312667.0

In [18]:
yr2014_sum2=yr2014_df[-yr2014_df['energy_star_score']== 'Not Available']

TypeError: bad operand type for unary -: 'str'

## 2015 Data

In [19]:
yr2015_sum=yr2015_df[-yr2015_df['total_ghg_emissions_mtco2e'].isnull()]

In [20]:
yr2015_sum['total_ghg_emissions_mtco2e'].astype('int')

0         570
1         142
2        4750
3        1003
4        1141
5       10484
6         494
7        1282
8        2208
9        4326
10       1733
11        530
12       4302
13      17153
14       6371
15      21279
16       8832
17      54887
18         81
19      18956
20        792
21       4624
22      10260
23      12638
24        607
25        993
26        562
27        575
28       3397
29      24202
        ...
1071      140
1072      660
1073        6
1074      643
1075      686
1076      285
1077      950
1078      274
1079       34
1080       61
1081       13
1082      564
1083     1580
1084      965
1085    19036
1086     2513
1087      755
1088     1524
1089       25
1090      841
1091      374
1092      404
1093       40
1094      425
1095      376
1096       27
1097      139
1098        9
1099      134
1100       90
Name: total_ghg_emissions_mtco2e, Length: 1101, dtype: int64

In [21]:
yr2015_sum['total_ghg_emissions_mtco2e'].sum()

2781230.0999999996

2015 total emissions: 2781230.0999999996

In [22]:
#2015-2017 uses a different column name for building SF
yr2015_sum.head()

,electricity_use_kbtu,objectid,street_address,property_name,opa_account_num,postal_code,num_of_buildings,year_built,primary_prop_type_epa_calc,total_floor_area_bld_pk_ft2,portfolio_manager_id,natural_gas_use_kbtu,fuel_oil_o2_use_kbtu,steam_use_kbtu,energy_star_score,site_eui_kbtuft2,source_eui_kbtuft2,water_use_all_kgal,total_ghg_emissions_mtco2e,notes
0,4192843.0,2806,4501 BENNER ST,Lawton,786033600,19135,1,1973,K-12 School,79856.0,3330959,173627.5,NaN,NaN,37.0,54.7,167.1,870.9,570.5,NaN
1,1061172.9,3551,500-50 E ERIE AVE,500 Erie Ave,884048000,19134,1,1930,Distribution Center,130000.0,4104348,NaN,NaN,NaN,86.0,8.2,25.6,154.4,142.1,NaN
2,35489338.0,2841,3701 MARKET ST,3701 Market St.,883073300,19104,1,2000,Medical Office,140913.0,3340008,NaN,NaN,NaN,1.0,251.9,790.8,6528.2,4750.8,NaN
3,4934315.0,3229,1600-46 RACE ST,Friends Select School,772199000,19103,1,1969,K-12 School,123306.0,3891486,6447756.2,NaN,NaN,39.0,92.3,180.6,1083.3,1003.0,NaN
4,6759973.8,3103,14700 TOWNSEND RD,NARA,884292516,19154,1,1994,Other - Public Services,300000.0,3790331,4453888.7,NaN,NaN,NaN,37.4,86.3,103.9,1141.5,NaN

In [23]:
yr2015_sum2=yr2015_df[-yr2015_df['total_floor_area_bld_pk_ft2'].isnull()]

In [24]:
yr2015_sum2['total_floor_area_bld_pk_ft2'].astype('int')

0         79856
1        130000
2        140913
3        123306
4        300000
5        533393
6         96000
7         82972
8        244109
9        191783
10       136566
11        50456
12       610065
13      1538959
14       735000
15       873226
16       595902
17      1788504
18        59850
19       959580
20        70902
21       272165
22      1706638
23      1503469
24       105000
25       150000
26        80679
27        76989
28       329425
29       722268
         ...
1091     482000
1092     434000
1093      75590
1094      20000
1095     581000
1096      67550
1097     168365
1098      48000
1099     220890
1100     300000
1101     100000
1102      81423
1103      85426
1104     192000
1105      79200
1106     250000
1107      70506
1108      63000
1109      57387
1110      52679
1111      53021
1112      98723
1113      47000
1114     134484
1115     390125
1116      33000
1117      67884
1118     289713
1119     100240
1120      65000
Name: total_floor_area_bld_pk_ft2, Length: 1121, dtype: int64

In [25]:
yr2015_sum2['total_floor_area_bld_pk_ft2'].sum()

257565866.1

In [26]:
np.nanmean(yr2015_sum['energy_star_score'])

58.34664764621969

58.34 = avg energy StAR score for 2015

## 2016 Data

In [27]:
yr2016_sum=yr2016_df[-yr2016_df['total_ghg_emissions_mtco2e'].isnull()]

In [28]:
yr2016_sum['total_ghg_emissions_mtco2e'].astype('int')

0        3110
1         355
2         174
3         320
4          91
5        1745
6        2222
7        1161
8         334
9         374
10        588
11       5244
12       1523
13       8335
14       9607
15      13841
16       5834
17      19306
18          0
19       7668
20      49459
21      17515
22        515
23        794
24        684
25       4107
26       3693
27      12742
28       2206
29       3778
        ...
1501      193
1502       74
1503      107
1504      188
1505      237
1506      238
1507     1263
1508      806
1509      469
1510     1015
1511       21
1512      136
1513      763
1514      104
1515       39
1516      141
1517      450
1518      468
1519       21
1520      117
1521       93
1522        9
1523      105
1524       40
1525        0
1526        0
1527        0
1528        0
1529        0
1530        0
Name: total_ghg_emissions_mtco2e, Length: 1530, dtype: int64

In [29]:
yr2016_sum['total_ghg_emissions_mtco2e'].sum()

3786881.5

Total 2016 emissions: 3786881.5

In [30]:
yr2016_sum2=yr2016_df[-yr2016_df['total_floor_area_bld_pk_ft2'].isnull()]

In [31]:
yr2016_sum2['total_floor_area_bld_pk_ft2'].astype('int')

0        565764
1         92156
2         50840
3         75318
4        106400
5        207802
6        271115
7        173550
8         48129
9         63000
10        68967
11       600000
12       136566
13      1706638
14      1503469
15      1538959
16       735000
17       873226
18       107728
19       601165
20      1791804
21      1143882
22       105000
23       150000
24        70902
25       272165
26       440000
27      1294004
28       243058
29       350000
         ...
1523     204192
1524      50439
1525     153000
1526     108340
1527       2500
1528     300000
1529     152000
1530     160000
1532      69888
1533      90331
1534    1228757
1535      82785
1536      40000
1537     520280
1538      70000
1539      50400
1540      54839
1541     145850
1542     210000
1543      61592
1544      50525
1545     110000
1546     200000
1547     156000
1548     750000
1549      33000
1550     190000
1551      68827
1552      52980
1553      93000
Name: total_floor_area_bld_pk_ft2, Length: 1553, dtype: int64

In [32]:
yr2016_sum2['total_floor_area_bld_pk_ft2'].sum()

352151092.0

352,151,092 SF reported in 2016

In [33]:
np.nanmean(yr2016_sum['energy_star_score'])

58.94703196347032

58.94 = avg energy STAR score for 2016

## 2017 Data

In [34]:
yr2017_sum=yr2017_df[-yr2017_df['total_ghg_emissions_mtco2e'].isnull()]

In [35]:
yr2017_sum['total_ghg_emissions_mtco2e'].astype('int')

0        646
1       2650
2         35
3        549
4        329
5        299
6        509
7        591
8         15
9        288
10       483
11       335
12        45
13       204
14      5054
15       478
16       228
17       430
18       566
19       877
20       374
21      1889
22      1686
23       656
24       358
25       636
26       585
27       804
28      1808
29       663
        ...
1468       0
1469    2577
1470     128
1471       0
1472     330
1473     795
1474     499
1475    1294
1476      51
1477     287
1478     321
1479     329
1480     521
1481     574
1482      23
1483     177
1484     207
1485     743
1486    1431
1487     543
1488     697
1489     133
1490     299
1491    3946
1492      23
1493     107
1494     114
1495     513
1496     262
1497       0
Name: total_ghg_emissions_mtco2e, Length: 1497, dtype: int64

In [36]:
yr2017_sum['total_ghg_emissions_mtco2e'].sum()

3413317.8000000003

Total 2017 Emission: 3,413,317.8000000003

In [37]:
yr2017_sum2=yr2017_df[-yr2017_df['total_floor_area_bld_pk_ft2'].isnull()]

In [38]:
yr2017_sum2['total_floor_area_bld_pk_ft2'].sum()

319160073.0

319,160,073 SF reported in 2017

In [39]:
np.nanmean(yr2017_sum['energy_star_score'])

58.959280303030305

Avg energy star score in 2017: 59