In [1]:
%matplotlib inline
import warnings
warnings.simplefilter('ignore')
import pandas as pd
import matplotlib.pyplot as plt

I began my analysis of the depression dataset by importing it and running some basic investigations.

In [2]:
depression_df = pd.read_csv('../data/Raw/with-depression.csv')
depression_df.shape

(6468, 4)

In [3]:
depression_df.sample()

,Entity,Code,Year,Prevalence - Depressive disorders - Sex: Both - Age: Age-standardized (Percent) (%)
3658,Mauritius,MUS,2008,3.576573

In [4]:
depression_df.columns

Index(['Entity', 'Code', 'Year',
       'Prevalence - Depressive disorders - Sex: Both - Age: Age-standardized (Percent) (%)'],
      dtype='object')

I renamed a column to make it easier to manipulate.

In [5]:
depression_df = depression_df.rename(columns={'Prevalence - Depressive disorders - Sex: Both - Age: Age-standardized (Percent) (%)':'Depression_percent'})

I continued my basic investigations.

In [6]:
depression_df.head()

        Entity Code  Year  Depression_percent
0  Afghanistan  AFG  1990            4.071831
1  Afghanistan  AFG  1991            4.079531
2  Afghanistan  AFG  1992            4.088358
3  Afghanistan  AFG  1993            4.096190
4  Afghanistan  AFG  1994            4.099582

In [7]:
depression_df['Year'].unique()

array([1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000,
       2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011,
       2012, 2013, 2014, 2015, 2016, 2017])

In [8]:
depression_df['Entity'].nunique()

231

I imported my continents dataset.

In [9]:
continents_df = pd.read_csv('../data/Raw/countries_continents2.csv')

Then I merged it with the depression dataset. 191 of the 231 entities in the original depression dataset remain in the merged one. However, since this is close to the number of countries in the world, I am satisfied. I care less about the territories listed in the depression dataset.

In [10]:
merged_df = depression_df.merge(continents_df, left_on='Entity', right_on='Country')
merged_df['Entity'].nunique()

191

In [11]:
merged_df['Continent'].unique()

array(['Asia', 'Europe', 'Africa', 'Oceania', 'North America',
       'South America'], dtype=object)

I then pulled the mean, max, and min values of depression percent by continent.

In [12]:
merged_df.groupby('Continent')['Depression_percent'].agg(['mean', 'min','max'])

                   mean       min       max
Continent
Africa         3.771239  2.885115  5.744704
Asia           3.376109  2.233269  5.116345
Europe         3.585069  2.139903  5.512826
North America  3.130038  2.535758  6.602754
Oceania        3.321411  2.913340  4.929038
South America  3.278590  2.194091  4.401565

In [13]:
import seaborn as sns
import plotly_express as px
import math

In [14]:
pop_df = pd.read_csv('../data/Cleaned/world_pop_long')
pop_df['Location'].unique()

array(['World', 'More developed regions', 'Less developed regions',
       'Least developed countries',
       'Less developed regions, excluding least developed countries',
       'Less developed regions, excluding China',
       'Land-locked Developing Countries (LLDC)',
       'Small Island Developing States (SIDS)', 'High-income countries',
       'Middle-income countries', 'Upper-middle-income countries',
       'Lower-middle-income countries', 'Low-income countries',
       'No income group available', 'Africa', 'Asia', 'Europe',
       'Latin America and the Caribbean', 'Northern America', 'Oceania',
       'Sub-Saharan Africa', 'Eastern Africa', 'Burundi', 'Comoros',
       'Djibouti', 'Eritrea', 'Ethiopia', 'Kenya', 'Madagascar', 'Malawi',
       'Mauritius', 'Mayotte', 'Mozambique', 'Réunion', 'Rwanda',
       'Seychelles', 'Somalia', 'South Sudan', 'Uganda', 'Tanzania',
       'Zambia', 'Zimbabwe', ' Middle Africa', 'Angola', 'Cameroon',
       'Central African Republic', 'Chad', 'Congo', 'Equatorial Guinea',
       'Gabon', 'Sao Tome and Principe', 'Southern Africa', 'Botswana',
       'Swaziland', 'Lesotho', 'Namibia', 'South Africa',
       'Western Africa', 'Benin', 'Burkina Faso', 'Cape Verde',
       "Côte d'Ivoire", 'Gambia', 'Ghana', 'Guinea', 'Guinea-Bissau',
       'Liberia', 'Mali', 'Mauritania', 'Niger', 'Nigeria',
       'Saint Helena', 'Senegal', 'Sierra Leone', 'Togo',
       'Northern Africa and Western Asia', ' Northern Africa', 'Algeria',
       'Egypt', 'Libya', 'Morocco', 'Sudan', 'Tunisia', 'Western Sahara',
       'Western Asia', 'Armenia', 'Azerbaijan', 'Bahrain', 'Cyprus',
       'Georgia', 'Iraq', 'Israel', 'Jordan', 'Kuwait', 'Lebanon', 'Oman',
       'Qatar', 'Saudi Arabia', 'Palestine', 'Syria', 'Turkey',
       'United Arab Emirates', 'Yemen', 'Central and Southern Asia',
       ' Central Asia', 'Kazakhstan', 'Kyrgyzstan', 'Tajikistan',
       'Turkmenistan', 'Uzbekistan', 'Southern Asia', 'Afghanistan',
       'Bangladesh', 'Bhutan', 'India', 'Iran', 'Maldives', 'Nepal',
       'Pakistan', 'Sri Lanka', 'Eastern and South-Eastern Asia',
       'Eastern Asia', 'China', 'China, Hong Kong SAR',
       'China, Macao SAR', 'China, Taiwan Province of China',
       "Dem. People's Republic of Korea", 'Japan', 'Mongolia',
       'South Korea', 'South-Eastern Asia', 'Brunei', 'Cambodia',
       'Indonesia', 'Laos', 'Malaysia', 'Myanmar', 'Philippines',
       'Singapore', 'Thailand', 'Timor', 'Vietnam', ' Caribbean',
       'Anguilla', 'Antigua and Barbuda', 'Aruba', 'Bahamas', 'Barbados',
       'Bonaire, Sint Eustatius and Saba', 'British Virgin Islands',
       'Cayman Islands', 'Cuba', 'Curaçao', 'Dominica',
       'Dominican Republic', 'Grenada', 'Guadeloupe', 'Haiti', 'Jamaica',
       'Martinique', 'Montserrat', 'Puerto Rico', 'Saint Barthélemy',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Martin (French part)', 'Saint Vincent and the Grenadines',
       'Sint Maarten (Dutch part)', 'Trinidad and Tobago',
       'Turks and Caicos Islands', 'United States Virgin Islands',
       'Central America', 'Belize', 'Costa Rica', 'El Salvador',
       'Guatemala', 'Honduras', 'Mexico', 'Nicaragua', 'Panama',
       ' South America', 'Argentina', 'Bolivia', 'Brazil', 'Chile',
       'Colombia', 'Ecuador', 'Falkland Islands (Malvinas)',
       'French Guiana', 'Guyana', 'Paraguay', 'Peru', 'Suriname',
       'Uruguay', 'Venezuela', 'Australia/New Zealand', 'Australia',
       'New Zealand', 'Oceania (excluding Australia and New Zealand)',
       'Melanesia', 'Fiji', 'New Caledonia', 'Papua New Guinea',
       'Solomon Islands', 'Vanuatu', ' Micronesia', 'Guam', 'Kiribati',
       'Marshall Islands', 'Micronesia (country)', 'Nauru',
       'Northern Mariana Islands', 'Palau', 'Polynesia', 'American Samoa',
       'Cook Islands', 'French Polynesia', 'Niue', 'Samoa', 'Tokelau',
       'Tonga', 'Tuvalu', 'Wallis and Futuna Islands',
       'Europe and Northern America', 'Eastern Europe', 'Belarus',
       'Bulgaria', 'Czech Republic', 'Hungary', 'Poland', 'Moldova',
       'Romania', 'Russia', 'Slovakia', 'Ukraine', 'Northern Europe',
       'ChannelIslands', 'Denmark', 'Estonia', 'Faroe Islands', 'Finland',
       'Iceland', 'Ireland', 'Isle of Man', 'Latvia', 'Lithuania',
       'Norway', 'Sweden', 'United Kingdom', 'Southern Europe', 'Albania',
       'Andorra', 'Bosnia and Herzegovina', 'Croatia', 'Gibraltar',
       'Greece', 'Holy See', 'Italy', 'Malta', 'Montenegro',
       'North Macedonia', 'Portugal', 'San Marino', 'Serbia', 'Slovenia',
       'Spain', 'Western Europe', 'Austria', 'Belgium', 'France',
       'Germany', 'Liechtenstein', 'Luxembourg', 'Monaco', 'Netherlands',
       'Switzerland', 'Bermuda', 'Canada', 'Greenland',
       'Saint Pierre and Miquelon', 'United States'], dtype=object)

After importing the long population dataset I developed in (data_analysis_Anxiety Investigation), I merged it with my depression dataset.

In [15]:
dp_df = merged_df.merge(pop_df, left_on=['Year', 'Entity'], right_on=['variable', 'Location'])
dp_df.shape

(5320, 13)

I successfully merged 189 countries into this new dataset.

In [16]:
dp_df['Entity'].nunique()

189

I then created a new variable that represented each country's actual population, since the original value was by thousand.

In [17]:
dp_df['Population']=dp_df['value']*1000

In [18]:
dp_df.head()

,Entity,Code,Year,Depression_percent,Unnamed: 0,Country,Region,Continent,code,Location,Average,variable,value,Population
0,Afghanistan,AFG,1990,4.071831,0,Afghanistan,Southern Asia,Asia,4,Afghanistan,24737.62069,1990,12412.0,12412000.0
1,Afghanistan,AFG,1991,4.079531,0,Afghanistan,Southern Asia,Asia,4,Afghanistan,24737.62069,1991,13299.0,13299000.0
2,Afghanistan,AFG,1992,4.088358,0,Afghanistan,Southern Asia,Asia,4,Afghanistan,24737.62069,1992,14486.0,14486000.0
3,Afghanistan,AFG,1993,4.096190,0,Afghanistan,Southern Asia,Asia,4,Afghanistan,24737.62069,1993,15817.0,15817000.0
4,Afghanistan,AFG,1994,4.099582,0,Afghanistan,Southern Asia,Asia,4,Afghanistan,24737.62069,1994,17076.0,17076000.0

Next, I created a variable to figure out the number of individuals with depression for each datapoint.

In [19]:
dp_df['Depression_population']=dp_df['Depression_percent']/100 * dp_df['Population']
dp_df.head()

,Entity,Code,Year,Depression_percent,Unnamed: 0,Country,Region,Continent,code,Location,Average,variable,value,Population,Depression_population
0,Afghanistan,AFG,1990,4.071831,0,Afghanistan,Southern Asia,Asia,4,Afghanistan,24737.62069,1990,12412.0,12412000.0,505395.685697
1,Afghanistan,AFG,1991,4.079531,0,Afghanistan,Southern Asia,Asia,4,Afghanistan,24737.62069,1991,13299.0,13299000.0,542536.819099
2,Afghanistan,AFG,1992,4.088358,0,Afghanistan,Southern Asia,Asia,4,Afghanistan,24737.62069,1992,14486.0,14486000.0,592239.575077
3,Afghanistan,AFG,1993,4.096190,0,Afghanistan,Southern Asia,Asia,4,Afghanistan,24737.62069,1993,15817.0,15817000.0,647894.356027
4,Afghanistan,AFG,1994,4.099582,0,Afghanistan,Southern Asia,Asia,4,Afghanistan,24737.62069,1994,17076.0,17076000.0,700044.550287

I dropped the replicated variables in the data.

In [20]:
dp3_df = dp_df.drop(['Country', 'Location','value', 'variable', 'code'], axis=1)

I renamed the average column to 'Average Pop' to make it more clear that it represented the average population of a country between 1990 and 2017.

In [21]:
dp3_df.rename(columns={'Average':'Average_pop'})

,Entity,Code,Year,Depression_percent,Unnamed: 0,Region,Continent,Average_pop,Population,Depression_population
0,Afghanistan,AFG,1990,4.071831,0,Southern Asia,Asia,24737.620690,12412000.0,5.053957e+05
1,Afghanistan,AFG,1991,4.079531,0,Southern Asia,Asia,24737.620690,13299000.0,5.425368e+05
2,Afghanistan,AFG,1992,4.088358,0,Southern Asia,Asia,24737.620690,14486000.0,5.922396e+05
3,Afghanistan,AFG,1993,4.096190,0,Southern Asia,Asia,24737.620690,15817000.0,6.478944e+05
4,Afghanistan,AFG,1994,4.099582,0,Southern Asia,Asia,24737.620690,17076000.0,7.000446e+05
5,Afghanistan,AFG,1995,4.104207,0,Southern Asia,Asia,24737.620690,18111000.0,7.433130e+05
6,Afghanistan,AFG,1996,4.107500,0,Southern Asia,Asia,24737.620690,18853000.0,7.743871e+05
7,Afghanistan,AFG,1997,4.110834,0,Southern Asia,Asia,24737.620690,19357000.0,7.957341e+05
8,Afghanistan,AFG,1998,4.114438,0,Southern Asia,Asia,24737.620690,19738000.0,8.121077e+05
9,Afghanistan,AFG,1999,4.117633,0,Southern Asia,Asia,24737.620690,20171000.0,8.305679e+05
10,Afghanistan,AFG,2000,4.118610,0,Southern Asia,Asia,24737.620690,20780000.0,8.558472e+05
11,Afghanistan,AFG,2001,4.121381,0,Southern Asia,Asia,24737.620690,21607000.0,8.905068e+05
12,Afghanistan,AFG,2002,4.124928,0,Southern Asia,Asia,24737.620690,22601000.0,9.322750e+05
13,Afghanistan,AFG,2003,4.125230,0,Southern Asia,Asia,24737.620690,23681000.0,9.768958e+05
14,Afghanistan,AFG,2004,4.126384,0,Southern Asia,Asia,24737.620690,24727000.0,1.020331e+06
15,Afghanistan,AFG,2005,4.126908,0,Southern Asia,Asia,24737.620690,25654000.0,1.058717e+06
16,Afghanistan,AFG,2006,4.128638,0,Southern Asia,Asia,24737.620690,26433000.0,1.091323e+06
17,Afghanistan,AFG,2007,4.129728,0,Southern Asia,Asia,24737.620690,27101000.0,1.119197e+06
18,Afghanistan,AFG,2008,4.129656,0,Southern Asia,Asia,24737.620690,27722000.0,1.144823e+06
19,Afghanistan,AFG,2009,4.129972,0,Southern Asia,Asia,24737.620690,28395000.0,1.172706e+06
20,Afghanistan,AFG,2010,4.130874,0,Southern Asia,Asia,24737.620690,29186000.0,1.205637e+06
21,Afghanistan,AFG,2011,4.130862,0,Southern Asia,Asia,24737.620690,30117000.0,1.244092e+06
22,Afghanistan,AFG,2012,4.132485,0,Southern Asia,Asia,24737.620690,31161000.0,1.287724e+06
23,Afghanistan,AFG,2013,4.134661,0,Southern Asia,Asia,24737.620690,32270000.0,1.334255e+06
24,Afghanistan,AFG,2014,4.133526,0,Southern Asia,Asia,24737.620690,33371000.0,1.379399e+06
25,Afghanistan,AFG,2015,4.135419,0,Southern Asia,Asia,24737.620690,34414000.0,1.423163e+06
26,Afghanistan,AFG,2016,4.135694,0,Southern Asia,Asia,24737.620690,35383000.0,1.463333e+06
27,Afghanistan,AFG,2017,4.136347,0,Southern Asia,Asia,24737.620690,36296000.0,1.501329e+06
28,Albania,ALB,1990,2.139903,2,Southern Europe,Europe,3055.275862,3286000.0,7.031721e+04
29,Albania,ALB,1991,2.141201,2,Southern Europe,Europe,3055.275862,3280000.0,7.023140e+04
...,...,...,...,...,...,...,...,...,...,...
5290,Zambia,ZMB,2016,3.608843,247,Eastern Africa,Africa,11953.689655,16363000.0,5.905149e+05
5291,Zambia,ZMB,2017,3.641811,247,Eastern Africa,Africa,11953.689655,16854000.0,6.137909e+05
5292,Zimbabwe,ZWE,1990,3.040364,248,Eastern Africa,Africa,12271.206897,10432000.0,3.171708e+05
5293,Zimbabwe,ZWE,1991,3.060225,248,Eastern Africa,Africa,12271.206897,10681000.0,3.268627e+05
5294,Zimbabwe,ZWE,1992,3.077426,248,Eastern Africa,Africa,12271.206897,10901000.0,3.354702e+05
5295,Zimbabwe,ZWE,1993,3.089601,248,Eastern Africa,Africa,12271.206897,11093000.0,3.427295e+05
5296,Zimbabwe,ZWE,1994,3.100224,248,Eastern Africa,Africa,12271.206897,11262000.0,3.491472e+05
5297,Zimbabwe,ZWE,1995,3.107312,248,Eastern Africa,Africa,12271.206897,11411000.0,3.545754e+05
5298,Zimbabwe,ZWE,1996,3.105739,248,Eastern Africa,Africa,12271.206897,11541000.0,3.584333e+05
5299,Zimbabwe,ZWE,1997,3.094765,248,Eastern Africa,Africa,12271.206897,11653000.0,3.606329e+05
5300,Zimbabwe,ZWE,1998,3.083283,248,Eastern Africa,Africa,12271.206897,11747000.0,3.621933e+05
5301,Zimbabwe,ZWE,1999,3.074554,248,Eastern Africa,Africa,12271.206897,11823000.0,3.635045e+05
5302,Zimbabwe,ZWE,2000,3.069722,248,Eastern Africa,Africa,12271.206897,11881000.0,3.647136e+05
5303,Zimbabwe,ZWE,2001,3.072727,248,Eastern Africa,Africa,12271.206897,11924000.0,3.663920e+05
5304,Zimbabwe,ZWE,2002,3.080942,248,Eastern Africa,Africa,12271.206897,11954000.0,3.682958e+05
5305,Zimbabwe,ZWE,2003,3.089274,248,Eastern Africa,Africa,12271.206897,11982000.0,3.701568e+05
5306,Zimbabwe,ZWE,2004,3.096351,248,Eastern Africa,Africa,12271.206897,12020000.0,3.721814e+05
5307,Zimbabwe,ZWE,2005,3.102648,248,Eastern Africa,Africa,12271.206897,12077000.0,3.747068e+05
5308,Zimbabwe,ZWE,2006,3.104970,248,Eastern Africa,Africa,12271.206897,12155000.0,3.774091e+05
5309,Zimbabwe,ZWE,2007,3.104822,248,Eastern Africa,Africa,12271.206897,12256000.0,3.805270e+05
5310,Zimbabwe,ZWE,2008,3.103491,248,Eastern Africa,Africa,12271.206897,12380000.0,3.842122e+05
5311,Zimbabwe,ZWE,2009,3.102520,248,Eastern Africa,Africa,12271.206897,12527000.0,3.886527e+05
5312,Zimbabwe,ZWE,2010,3.105459,248,Eastern Africa,Africa,12271.206897,12698000.0,3.943311e+05
5313,Zimbabwe,ZWE,2011,3.109526,248,Eastern Africa,Africa,12271.206897,12894000.0,4.009422e+05
5314,Zimbabwe,ZWE,2012,3.118072,248,Eastern Africa,Africa,12271.206897,13115000.0,4.089352e+05
5315,Zimbabwe,ZWE,2013,3.128192,248,Eastern Africa,Africa,12271.206897,13350000.0,4.176137e+05
5316,Zimbabwe,ZWE,2014,3.140290,248,Eastern Africa,Africa,12271.206897,13587000.0,4.266712e+05
5317,Zimbabwe,ZWE,2015,3.155710,248,Eastern Africa,Africa,12271.206897,13815000.0,4.359613e+05
5318,Zimbabwe,ZWE,2016,3.174134,248,Eastern Africa,Africa,12271.206897,14030000.0,4.453310e+05
5319,Zimbabwe,ZWE,2017,3.192789,248,Eastern Africa,Africa,12271.206897,14237000.0,4.545574e+05

I imported this cleaned depression dataset to a CSV.

In [22]:
dp3_df.to_csv('../data/Cleaned/depression_clean', index=False)