In [1]:
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
import pandas as pd
import math

In [2]:
disorders_df = pd.read_csv('../data/Cleaned/disorders_clean')
disorders_df.head()

,Country,Code,Year,Disorders(%),Unnamed: 0,Region,Continent,Average_pop,Population,Disorders_population
0,Afghanistan,AFG,1990,17.553463,0,Southern Asia,Asia,24737.62069,12412000.0,2.178736e+06
1,Afghanistan,AFG,1991,17.837032,0,Southern Asia,Asia,24737.62069,13299000.0,2.372147e+06
2,Afghanistan,AFG,1992,18.092542,0,Southern Asia,Asia,24737.62069,14486000.0,2.620886e+06
3,Afghanistan,AFG,1993,18.294931,0,Southern Asia,Asia,24737.62069,15817000.0,2.893709e+06
4,Afghanistan,AFG,1994,18.428908,0,Southern Asia,Asia,24737.62069,17076000.0,3.146920e+06

In [3]:
resources_df =pd.read_csv('../data/Cleaned/resources_clean')
resources_df.head()

,Country,Year,Psychiatrists_per100000,Nurses_per100000,Social_workers_per100000,Psychologists_per100000,Region,Continent,Population,#psychiatrists,#nurses,#social_workers,#psychologists,Total_resources
0,Afghanistan,2016,0.231,0.098,NaN,0.296,Southern Asia,Asia,35383000.0,81.73473,34.67534,NaN,104.73368,NaN
1,Albania,2016,1.471,6.876,1.060,1.231,Southern Europe,Europe,2886000.0,42.45306,198.44136,30.59160,35.52666,307.01268
2,Angola,2016,0.057,0.660,0.022,0.179,Middle Africa,Africa,28842000.0,16.43994,190.35720,6.34524,51.62718,264.76956
3,Antigua and Barbuda,2016,1.001,7.005,4.003,NaN,Caribbean,North America,95000.0,0.95095,6.65475,3.80285,NaN,NaN
4,Argentina,2016,21.705,NaN,NaN,222.572,South America,South America,43508000.0,9443.41140,NaN,NaN,96836.62576,NaN

After importing the disorders and suicide dataset, I merged them on both year and country.

In [5]:
sf_df=disorders_df.merge(resources_df, left_on=['Country', 'Year', 'Region', 'Continent', 'Population'], right_on=['Country', 'Year', 'Region', 'Continent', 'Population'])
sf_df.head()

,Country,Code,Year,Disorders(%),Unnamed: 0,Region,Continent,Average_pop,Population,Disorders_population,Psychiatrists_per100000,Nurses_per100000,Social_workers_per100000,Psychologists_per100000,#psychiatrists,#nurses,#social_workers,#psychologists,Total_resources
0,Afghanistan,AFG,2016,16.868402,0,Southern Asia,Asia,24737.620690,35383000.0,5.968547e+06,0.231,0.098,NaN,0.296,81.73473,34.67534,NaN,104.73368,NaN
1,Albania,ALB,2016,10.877236,2,Southern Europe,Europe,3055.275862,2886000.0,3.139170e+05,1.471,6.876,1.060,1.231,42.45306,198.44136,30.59160,35.52666,307.01268
2,Angola,AGO,2016,12.392752,6,Middle Africa,Africa,19765.931034,28842000.0,3.574318e+06,0.057,0.660,0.022,0.179,16.43994,190.35720,6.34524,51.62718,264.76956
3,Antigua and Barbuda,ATG,2016,13.228926,9,Caribbean,North America,80.137931,95000.0,1.256748e+04,1.001,7.005,4.003,NaN,0.95095,6.65475,3.80285,NaN,NaN
4,Argentina,ARG,2016,15.728937,10,South America,South America,38496.068966,43508000.0,6.843346e+06,21.705,NaN,NaN,222.572,9443.41140,NaN,NaN,96836.62576,NaN

With this merged dataset, I ran several correlational tests between the number of disorders and the various types of resources.

In [6]:
sf_df[['Disorders_population', 'Total_resources']].corr()

                      Disorders_population  Total_resources
Disorders_population              1.000000         0.299081
Total_resources                   0.299081         1.000000

In [7]:
sf_df[['Disorders_population', '#psychiatrists']].corr()

                      Disorders_population  #psychiatrists
Disorders_population              1.000000        0.558885
#psychiatrists                    0.558885        1.000000

In [8]:
sf_df[['Disorders_population', '#nurses']].corr()

                      Disorders_population   #nurses
Disorders_population              1.000000  0.352482
#nurses                           0.352482  1.000000

In [8]:
sf_df[['Disorders_population', '#social_workers']].corr()

                      Disorders_population  #social_workers
Disorders_population              1.000000         0.260483
#social_workers                   0.260483         1.000000

In [9]:
sf_df[['Disorders_population', '#psychologists']].corr()

                      Disorders_population  #psychologists
Disorders_population              1.000000        0.203098
#psychologists                    0.203098        1.000000

I then loaded what I call "the megaset," which has information about anxiety, depression, disorders, suicide, and resources.

In [9]:
megaset = pd.read_csv('../data/Cleaned/megaset')
megaset.columns

Index(['Entity', 'Code', 'Year', 'Anxiety_percent', 'Region', 'Continent',
       'Average_pop', 'Population_x', 'Anxiety_population',
       'Depression_percent', 'Region_y', 'Continent_y', 'Population_y',
       'Depression_population', 'Code.1', 'Disorders(%)', 'Unnamed: 0_x',
       'Region.1', 'Continent.1', 'Population_x.1', 'Disorders_population',
       'Sex', 'Average_pop.1', '#suicides', 'Year.1', 'Region_y.1',
       'Continent_y.1', 'Population_y.1', '#psychiatrists', '#nurses',
       '#social_workers', '#psychologists', 'Total_resources', 'Unnamed: 0_y',
       'geometry'],
      dtype='object')

I ran many correlational tests with this data.

In [10]:
megaset[['#suicides', 'Total_resources']].corr()

                 #suicides  Total_resources
#suicides         1.000000         0.222869
Total_resources   0.222869         1.000000

In [11]:
megaset[['#suicides', '#psychiatrists']].corr()

                #suicides  #psychiatrists
#suicides        1.000000        0.540509
#psychiatrists   0.540509        1.000000

In [12]:
megaset[['#suicides', '#nurses']].corr()

           #suicides   #nurses
#suicides   1.000000  0.331081
#nurses     0.331081  1.000000

In [13]:
megaset[['#suicides', '#social_workers']].corr()

                 #suicides  #social_workers
#suicides         1.000000         0.177591
#social_workers   0.177591         1.000000

In [14]:
megaset[['#suicides', '#psychologists']].corr()

                #suicides  #psychologists
#suicides        1.000000        0.137073
#psychologists   0.137073        1.000000

In [15]:
megaset[['Anxiety_percent', 'Depression_percent']].corr()

                    Anxiety_percent  Depression_percent
Anxiety_percent            1.000000            0.383259
Depression_percent         0.383259            1.000000

In [17]:
megaset[['Anxiety_population', 'Total_resources']].corr()

                    Anxiety_population  Total_resources
Anxiety_population            1.000000         0.473491
Total_resources               0.473491         1.000000

In [18]:
megaset[['Anxiety_population', '#psychiatrists']].corr()
#This is a large correlation.

                    Anxiety_population  #psychiatrists
Anxiety_population            1.000000        0.674305
#psychiatrists                0.674305        1.000000

In [19]:
megaset[['Anxiety_population', '#psychologists']].corr()

                    Anxiety_population  #psychologists
Anxiety_population            1.000000        0.351903
#psychologists                0.351903        1.000000

In [20]:
megaset[['Anxiety_population', '#nurses']].corr()

                    Anxiety_population   #nurses
Anxiety_population            1.000000  0.410771
#nurses                       0.410771  1.000000

In [21]:
megaset[['Anxiety_population', '#social_workers']].corr()

                    Anxiety_population  #social_workers
Anxiety_population            1.000000         0.429096
#social_workers               0.429096         1.000000

In [22]:
megaset[['Depression_population', '#social_workers']].corr()

                       Depression_population  #social_workers
Depression_population                1.00000          0.28998
#social_workers                      0.28998          1.00000

In [23]:
megaset[['Depression_population', '#nurses']].corr()

                       Depression_population   #nurses
Depression_population               1.000000  0.370937
#nurses                             0.370937  1.000000

In [24]:
megaset[['Depression_population', '#psychiatrists']].corr()
#This is a sizable correlation.

                       Depression_population  #psychiatrists
Depression_population               1.000000        0.600291
#psychiatrists                      0.600291        1.000000

In [25]:
megaset[['Depression_population', '#psychologists']].corr()

                       Depression_population  #psychologists
Depression_population               1.000000        0.220343
#psychologists                      0.220343        1.000000

In [26]:
megaset[['Depression_population', 'Total_resources']].corr()

                       Depression_population  Total_resources
Depression_population               1.000000         0.325879
Total_resources                     0.325879         1.000000

In [27]:
megaset[['Disorders_population', 'Total_resources']].corr()

                      Disorders_population  Total_resources
Disorders_population              1.000000         0.305121
Total_resources                   0.305121         1.000000

In [28]:
megaset[['Disorders_population', '#psychiatrists']].corr()
#This is a sizable correlation.

                      Disorders_population  #psychiatrists
Disorders_population               1.00000         0.56999
#psychiatrists                     0.56999         1.00000

In [29]:
megaset[['Disorders_population', '#psychologists']].corr()

                      Disorders_population  #psychologists
Disorders_population              1.000000        0.207498
#psychologists                    0.207498        1.000000

In [30]:
megaset[['Disorders_population', '#nurses']].corr()

                      Disorders_population   #nurses
Disorders_population              1.000000  0.358029
#nurses                           0.358029  1.000000

In [31]:
megaset[['Disorders_population', '#social_workers']].corr()

                      Disorders_population  #social_workers
Disorders_population              1.000000         0.265468
#social_workers                   0.265468         1.000000

I then examined the mean, min, and max values of resources by continent.

In [32]:
megaset.groupby('Continent')['Total_resources'].agg(['mean', 'min','max'])

                       mean        min           max
Continent
Africa           615.396533   17.64476    6708.57041
Asia           16374.903707   90.52260  136753.68231
Europe          5449.671160  307.01268   21722.66502
North America  52821.363126  134.52440  339254.01432
Oceania           20.617690   16.81066      24.42472
South America  39718.015623  106.21435  117696.39507