In [1]:
%matplotlib inline
import pandas as pd
import geopandas as gpd

### Uploading My Data

The following is where I load the convenience stores dataset from my Initial_Exploration_and_Cleaning folder.

In [2]:
convenience_stores_geo_df=gpd.read_file('../../data/Raw_Data/Convenience_Stores.geojson')
cleaned_conveniencestores_geo_df=convenience_stores_geo_df[['Company Name', 'Street Address', 'Zip Code', 'geometry']]
cleaned_conveniencestores_geo_df.columns = ['Name', 'Address', 'Zipcode', 'geometry']

In [3]:
cleaned_conveniencestores_geo_df.head()

,Name,Address,Zipcode,geometry
0,"1020 MARKET STREET, INC.",1024 MARKET ST,191074211,POINT (-75.15721499999999 39.95154)
1,1057 H&K CORP,1057 S 52ND ST,191434215,POINT (-75.222915 39.943966)
2,10 BROTHERS FOOD MARKET CORP.,1801 W VENANGO ST,191404019,POINT (-75.158134 40.008538)
3,11 S 21ST STREET LLC,1101 WASHINGTON AVE # 518,191473839,POINT (-75.16167 39.937245)
4,"12-14 PRIZER, L.P.",536 CHRISTIAN ST,191474004,POINT (-75.15238100000001 39.937455)

In [4]:
cleaned_conveniencestores_geo_df.head

<bound method NDFrame.head of                                             Name                    Address  \
0                       1020 MARKET STREET, INC.             1024 MARKET ST
1                                  1057 H&K CORP             1057 S 52ND ST
2                  10 BROTHERS FOOD MARKET CORP.          1801 W VENANGO ST
3                           11 S 21ST STREET LLC  1101 WASHINGTON AVE # 518
4                             12-14 PRIZER, L.P.           536 CHRISTIAN ST
5                                  12MARKET4 LLC              124 MARKET ST
6                        12TH STREET CANTINA INC               45 N 12TH ST
7                 1516-18 N. 15TH STREET GP, LLC             1516 N 15TH ST
8                     1516-18 N. 15TH STREET, LP             1516 N 15TH ST
9                        15TH STREET FOOD MARKET            1429 WHARTON ST
10                                   1636 MARKET             1022 S 47TH ST
11                      1760 MARKET PARTNERS, LP      414 S 16TH ST STE 100
12                       18TH STREET FOOD MARKET          1801 W ONTARIO ST
13                                   1919 MARKET             1919 MARKET ST
14                             1 STOP MINIMARKET               700 S 8TH ST
15                  1ST ORIENTAL MARKET III, LLC      2842 SAINT VINCENT ST
16                     1ST ORIENTAL MARKET, INC.              1111 S 6TH ST
17                         21ST FOOD MKT. & DELI          2050 DICKINSON ST
18                               2200 BROAD DELI            2200 N BROAD ST
19                                222 MARKET INC              222 MARKET ST
20                                2235 MKT, INC.              2235 S 7TH ST
21                              22ND MINI MARKET           2201 W OXFORD ST
22                         2400 MARKET VII, L.P.    1608 WALNUT ST STE 1400
23                          24 SEVEN FOOD MARKET               1835 ARCH ST
24                   2601 COMMISSARY FOOD MARKET             5255 RIDGE AVE
25                      27 ALLEGHENY FOOD MARKET       2700 W ALLEGHENY AVE
26                          27TH MINI MARKET INC             2700 RIDGE AVE
27             27TH & SOMERSET GROCERY STORE INC         2639 W SOMERSET ST
28                           28TH ST SUPERMARKET             1700 N 28TH ST
29                              29 FOOD FARM INC          1 REED ST STE 200
...                                          ...                        ...
1909             YASMIN MARTINEZ FOOD MARKET INC             5453 MASTER ST
1910                          Y & D DELI GROCERY              2963 N 6TH ST
1911  YESHUA GROCERIES LIMITED LIABILITY COMPANY              2205 S 7TH ST
1912                            YESMILIN GROCERY      804 W SUSQUEHANNA AVE
1913                      YFR GROCERY STORE INC.              3900 N 7TH ST
1914                              YING'S GROCERY         1356 E LYCOMING ST
1915                        Y & L ASSOCIATES INC         4441 FRANKFORD AVE
1916                         YMG SUPERMARKET INC           6400 STENTON AVE
1917                           Y N J CORPORATION         4832 BALTIMORE AVE
1918                      YOGI GROCERY STORE INC              1516 S 8TH ST
1919                         YOHAN GROCERY STORE              200 N 57TH ST
1920                        YOLEINNY MINI MARKET         1872 E SCHILLER ST
1921          YOO'S LJ FISH & FRUIT MARKET, INC.         4046 LANCASTER AVE
1922                                 YORTY'S INC        5932 TORRESDALE AVE
1923                   YOUNG H GANG'S MARKET INC          3258 HARTVILLE ST
1924                                YOUNG KIM KU       1634 MOUNT VERNON ST
1925                                YOUNG'S DELI        3660 GERMANTOWN AVE
1926                         YOUNG'S FOOD MARKET         4132 LANCASTER AVE
1927                         YOUNG'S FOOD MARKET             1445 N 19TH ST
1928                 YOUNG'S HARVEST SUPERMARKET      1426 POINT BREEZE AVE
1929                              YOUNG'S MARKET            7256 CASTOR AVE
1930          Y & R QUALITY MEATS & GROCERY INC.        6351 RISING SUN AVE
1931                      Y & S SUPERMARKET INC.  2200 BNJMIN FRANKLIN PKWY
1932                       YUDY FOOD MARKET INC.               3469 KEIM ST
1933                                   YURI DELI             1618 N 29TH ST
1934                         ZAPATA DELI GROCERY        5141 GERMANTOWN AVE
1935                      ZAPATA MINI MARKET INC        910 W DUNCANNON AVE
1936                             ZAWAHI FOOD INC             5228 MARKET ST
1937              ZOE'S TROPICAL FOOD MARKET LLC        6842 CLOVER LN UPPR
1938                       Z TASTE OF STATES LLC           20 S MADISON AVE

        Zipcode                              geometry
0     191074211   POINT (-75.15721499999999 39.95154)
1     191434215          POINT (-75.222915 39.943966)
2     191404019          POINT (-75.158134 40.008538)
3     191473839           POINT (-75.16167 39.937245)
4     191474004  POINT (-75.15238100000001 39.937455)
5     191063089          POINT (-75.143182 39.949755)
6         19107          POINT (-75.159818 39.952136)
7     191215401            POINT (-75.160149 39.9764)
8     191215401            POINT (-75.160149 39.9764)
9     191463138          POINT (-75.168741 39.934336)
10    191433639  POINT (-75.21487999999999 39.946676)
11    191461989  POINT (-75.16776400000001 39.949827)
12    191404974          POINT (-75.158798 40.005555)
13    191031491           POINT (-75.17184 39.953456)
14    191472004          POINT (-75.155751 39.941408)
15    191491454          POINT (-75.054451 40.041822)
16    191474850          POINT (-75.153871 39.934853)
17    191464544  POINT (-75.17924499999999 39.933105)
18    191324501          POINT (-75.156237 39.986422)
19    191062882          POINT (-75.144718 39.949993)
20    191483211          POINT (-75.158649 39.920564)
21    191212913          POINT (-75.171389 39.979026)
22    191035446          POINT (-75.167755 39.949748)
23    191032712           POINT (-75.17004 39.955307)
24    191283713  POINT (-75.21019699999999 40.020135)
25    191321223           POINT (-75.174036 40.00428)
26    191212617            POINT (-75.1782 39.984792)
27    191322522  POINT (-75.17483300000001 39.998231)
28    191212704  POINT (-75.18028099999999 39.981719)
29    191475501  POINT (-75.14464099999999 39.929926)
...         ...                                   ...
1909  191313938          POINT (-75.230751 39.973793)
1910  191332804           POINT (-75.14125 39.996348)
1911  191483211          POINT (-75.158467 39.921475)
1912  191221327  POINT (-75.14709999999999 39.985077)
1913  191403206          POINT (-75.139833 40.011054)
1914  191245354  POINT (-75.10081099999999 40.008943)
1915  191243636          POINT (-75.087019 40.013031)
1916  191503708          POINT (-75.167294 40.060552)
1917  191433419            POINT (-75.219697 39.9483)
1918  191476437          POINT (-75.158304 39.929831)
1919  191391211          POINT (-75.234236 39.964446)
1920  191342009          POINT (-75.106692 39.998581)
1921  191041746           POINT (-75.20379 39.964008)
1922  191354127          POINT (-75.060205 40.017217)
1923  191341715          POINT (-75.119687 39.998225)
1924  191303320  POINT (-75.16483599999999 39.964917)
1925  191404226          POINT (-75.150683 40.008627)
1926  191041727          POINT (-75.206239 39.965529)
1927  191214140   POINT (-75.16649099999999 39.97659)
1928  191464522          POINT (-75.179945 39.934126)
1929  191491109          POINT (-75.066363 40.050977)
1930  191115629  POINT (-75.09616200000001 40.048953)
1931  191303601          POINT (-75.175327 39.961035)
1932  191341226          POINT (-75.117047 40.001184)
1933  191212738          POINT (-75.182108 39.981031)
1934  191442336  POINT (-75.16631099999999 40.030753)
1935  191414012          POINT (-75.138217 40.031098)
1936  191393417   POINT (-75.22550200000001 39.95997)
1937  190825303  POINT (-75.25304800000001 39.948247)
1938  190822819          POINT (-75.277922 39.964875)

[1939 rows x 4 columns]>

So, there are 1939 total store counts here.

### Finding the Number of Healthy Store Locations in Each Zipcode

I would like to calculate the number of stores in each zipcode so that I can eventually create a new dataset which includes the Diabetes Counts, Median Income, Healthy Store Count, Unhealthy Store Count, and Ratio of Healthy to Unhealthy store counts for each Zipcode.

In [5]:
cleaned_conveniencestores_geo_df['Zipcode'].nunique()

1615

In [6]:
cleaned_conveniencestores_geo_df['Zipcode'].unique()

array([191074211, 191434215, 191404019, ..., 191442336, 190825303,
       190822819])

There are clearly Zipcodes in the wrong format with the extensions added since Philly only has 48 zipcodes. I want to find the value counts for each of the 48 zipcodes in Philly so I will have to use the str.count function to find the value counts for the 48 zipcodes. To do this, I need to convert the items to string format first.

In [7]:
cleaned_conveniencestores_geo_df=cleaned_conveniencestores_geo_df['Zipcode'].apply(str)

Next, I will use the str.count function for each zipcode in order from low to high and find the total number of rows (or store locations) that fall under that zipcode without the extension.

In [8]:
zip19102=cleaned_conveniencestores_geo_df.str.count('19102') 
zip19103=cleaned_conveniencestores_geo_df.str.count('19103') 
zip19104=cleaned_conveniencestores_geo_df.str.count('19104') 
zip19106=cleaned_conveniencestores_geo_df.str.count('19106') 
zip19107=cleaned_conveniencestores_geo_df.str.count('19107') 
zip19109=cleaned_conveniencestores_geo_df.str.count('19109') 
zip19111=cleaned_conveniencestores_geo_df.str.count('19111') 
zip19112=cleaned_conveniencestores_geo_df.str.count('19112') 
zip19114=cleaned_conveniencestores_geo_df.str.count('19114') 
zip19115=cleaned_conveniencestores_geo_df.str.count('19115') 
zip19116=cleaned_conveniencestores_geo_df.str.count('19116') 
zip19118=cleaned_conveniencestores_geo_df.str.count('19118') 
zip19119=cleaned_conveniencestores_geo_df.str.count('19119') 
zip19120=cleaned_conveniencestores_geo_df.str.count('19120') 
zip19121=cleaned_conveniencestores_geo_df.str.count('19121') 
zip19122=cleaned_conveniencestores_geo_df.str.count('19122') 
zip19123=cleaned_conveniencestores_geo_df.str.count('19123') 
zip19124=cleaned_conveniencestores_geo_df.str.count('19124') 
zip19125=cleaned_conveniencestores_geo_df.str.count('19125') 
zip19126=cleaned_conveniencestores_geo_df.str.count('19126') 
zip19127=cleaned_conveniencestores_geo_df.str.count('19127') 
zip19128=cleaned_conveniencestores_geo_df.str.count('19128') 
zip19129=cleaned_conveniencestores_geo_df.str.count('19129') 
zip19130=cleaned_conveniencestores_geo_df.str.count('19130') 
zip19131=cleaned_conveniencestores_geo_df.str.count('19131') 
zip19132=cleaned_conveniencestores_geo_df.str.count('19132') 
zip19133=cleaned_conveniencestores_geo_df.str.count('19133') 
zip19134=cleaned_conveniencestores_geo_df.str.count('19134') 
zip19135=cleaned_conveniencestores_geo_df.str.count('19135') 
zip19136=cleaned_conveniencestores_geo_df.str.count('19136') 
zip19137=cleaned_conveniencestores_geo_df.str.count('19137') 
zip19138=cleaned_conveniencestores_geo_df.str.count('19138') 
zip19139=cleaned_conveniencestores_geo_df.str.count('19139') 
zip19140=cleaned_conveniencestores_geo_df.str.count('19140') 
zip19141=cleaned_conveniencestores_geo_df.str.count('19141') 
zip19142=cleaned_conveniencestores_geo_df.str.count('19142') 
zip19143=cleaned_conveniencestores_geo_df.str.count('19143') 
zip19144=cleaned_conveniencestores_geo_df.str.count('19144') 
zip19145=cleaned_conveniencestores_geo_df.str.count('19145') 
zip19146=cleaned_conveniencestores_geo_df.str.count('19146') 
zip19147=cleaned_conveniencestores_geo_df.str.count('19147') 
zip19148=cleaned_conveniencestores_geo_df.str.count('19148')
zip19149=cleaned_conveniencestores_geo_df.str.count('19149')
zip19150=cleaned_conveniencestores_geo_df.str.count('19150')
zip19151=cleaned_conveniencestores_geo_df.str.count('19151')
zip19152=cleaned_conveniencestores_geo_df.str.count('19152')
zip19153=cleaned_conveniencestores_geo_df.str.count('19153')
zip19154=cleaned_conveniencestores_geo_df.str.count('19154')

Next, I will use the value.counts function to find the number of rows (store locations) that are listed under each of the 48 zipcodes.

In [9]:
zip19102.value_counts()

0    1933
1       6
Name: Zipcode, dtype: int64

In [10]:
zip19103.value_counts()

0    1902
1      37
Name: Zipcode, dtype: int64

In [11]:
zip19104.value_counts()

0    1885
1      54
Name: Zipcode, dtype: int64

In [12]:
zip19106.value_counts()

0    1916
1      23
Name: Zipcode, dtype: int64

In [13]:
zip19107.value_counts()

0    1883
1      56
Name: Zipcode, dtype: int64

In [14]:
zip19109.value_counts()

0    1939
Name: Zipcode, dtype: int64

In [15]:
zip19111.value_counts()

0    1907
1      32
Name: Zipcode, dtype: int64

In [16]:
zip19112.value_counts()

0    1938
1       1
Name: Zipcode, dtype: int64

In [17]:
zip19114.value_counts()

0    1918
1      21
Name: Zipcode, dtype: int64

In [18]:
zip19115.value_counts()

0    1919
1      20
Name: Zipcode, dtype: int64

In [19]:
zip19116.value_counts()

0    1926
1      13
Name: Zipcode, dtype: int64

In [20]:
zip19118.value_counts()

0    1929
1      10
Name: Zipcode, dtype: int64

In [21]:
zip19119.value_counts()

0    1927
1      12
Name: Zipcode, dtype: int64

In [22]:
zip19120.value_counts()

0    1849
1      90
Name: Zipcode, dtype: int64

In [23]:
zip19121.value_counts()

0    1892
1      47
Name: Zipcode, dtype: int64

In [24]:
zip19122.value_counts()

0    1912
1      27
Name: Zipcode, dtype: int64

In [25]:
zip19123.value_counts()

0    1901
1      38
Name: Zipcode, dtype: int64

In [26]:
zip19124.value_counts()

0    1826
1     113
Name: Zipcode, dtype: int64

In [27]:
zip19125.value_counts()

0    1913
1      26
Name: Zipcode, dtype: int64

In [28]:
zip19126.value_counts()

0    1931
1       8
Name: Zipcode, dtype: int64

In [29]:
zip19127.value_counts()

0    1933
1       6
Name: Zipcode, dtype: int64

In [30]:
zip19128.value_counts()

0    1921
1      18
Name: Zipcode, dtype: int64

In [31]:
zip19129.value_counts()

0    1935
1       4
Name: Zipcode, dtype: int64

In [32]:
zip19130.value_counts()

0    1918
1      21
Name: Zipcode, dtype: int64

In [33]:
zip19131.value_counts()

0    1891
1      48
Name: Zipcode, dtype: int64

In [34]:
zip19132.value_counts()

0    1878
1      61
Name: Zipcode, dtype: int64

In [35]:
zip19133.value_counts()

0    1879
1      60
Name: Zipcode, dtype: int64

In [36]:
zip19134.value_counts()

0    1833
1     106
Name: Zipcode, dtype: int64

In [37]:
zip19135.value_counts()

0    1907
1      32
Name: Zipcode, dtype: int64

In [38]:
zip19136.value_counts()

0    1923
1      16
Name: Zipcode, dtype: int64

In [39]:
zip19137.value_counts()

0    1924
1      15
Name: Zipcode, dtype: int64

In [40]:
zip19138.value_counts()

0    1896
1      43
Name: Zipcode, dtype: int64

In [41]:
zip19139.value_counts()

0    1873
1      66
Name: Zipcode, dtype: int64

In [42]:
zip19140.value_counts()

0    1843
1      96
Name: Zipcode, dtype: int64

In [43]:
zip19141.value_counts()

0    1895
1      44
Name: Zipcode, dtype: int64

In [44]:
zip19142.value_counts()

0    1876
1      63
Name: Zipcode, dtype: int64

In [45]:
zip19143.value_counts()

0    1842
1      97
Name: Zipcode, dtype: int64

In [46]:
zip19144.value_counts()

0    1898
1      41
Name: Zipcode, dtype: int64

In [47]:
zip19145.value_counts()

0    1879
1      60
Name: Zipcode, dtype: int64

In [48]:
zip19146.value_counts()

0    1891
1      48
Name: Zipcode, dtype: int64

In [49]:
zip19147.value_counts()

0    1884
1      55
Name: Zipcode, dtype: int64

In [50]:
zip19148.value_counts()

0    1846
1      93
Name: Zipcode, dtype: int64

In [51]:
zip19149.value_counts()

0    1889
1      50
Name: Zipcode, dtype: int64

In [52]:
zip19150.value_counts()

0    1924
1      15
Name: Zipcode, dtype: int64

In [53]:
zip19151.value_counts()

0    1895
1      44
Name: Zipcode, dtype: int64

In [54]:
zip19152.value_counts()

0    1914
1      25
Name: Zipcode, dtype: int64

In [55]:
zip19153.value_counts()

0    1932
1       7
Name: Zipcode, dtype: int64

In [56]:
zip19154.value_counts()

0    1928
1      11
Name: Zipcode, dtype: int64

Now, I will take each of those numbers and list them into a list titled Unhealthy_Store_Counts in order of the zipcodes from high to low so that it aligns with the zipcodes in the diabetes and income dataset so I can eventually add this list on as a column showing unhealthy store counts.

In [57]:
Unhealthy_Store_Counts = [6, 37, 54, 23, 56, 0, 32, 1, 21, 20, 13, 10, 12, 90, 47, 27, 38, 113, 26, 8, 6, 18, 4, 21, 48, 61, 60, 106, 32, 16, 15, 43, 66, 96, 44, 63, 97, 41, 60, 48, 55, 93, 50, 15, 44, 25, 7, 11]

In [58]:
sum(Unhealthy_Store_Counts)

1879

It is clear that all of these store counts do not completely add up to the 1939 total store counts. However, after looking at the dot map from the All Food Locations (Dot Map) notebook, I can see that there a some dots not within the Philly zipcodes. This is acceptable for my research since I only want to dots that fall within the 48 Zipcodes since those are the zipcodes that I have information for regarding Diabetes and Income levels.

### About This Data

* This list titled Unhealthy_Store_Counts includes all of the values for store counts for each zipcode from 19102 to 19153. I plan to merge it to my final dataset, it will align with the zipcodes in the diabetes and income dataset and the healthy store counts.