In [1]:
import pandas as pd

## Import the csv file of voting data from NYS for the 2016 election

In [2]:
voting_df=pd.read_csv('../data/Raw/2016President_1.csv')

## Look at the shape of the data frame

In [3]:
voting_df.shape

(70, 54)

## Check the county in each row
* there are less than 70 counties in NYS, check which rows are not representative of a county
* look for the rows that need to be removed

In [4]:
voting_df['County'].unique()

array([' Albany', ' Allegany', ' Broome', ' Cattaraugus', ' Cayuga',
       ' Chautauqua', ' Chemung', ' Chenango', ' Clinton', ' Columbia',
       ' Cortland', ' Delaware', ' Dutchess', ' Erie', ' Essex',
       ' Franklin', ' Fulton', ' Genesee', ' Greene', ' Hamilton',
       ' Herkimer', ' Jefferson', ' Lewis', ' Livingston', ' Madison',
       ' Monroe', ' Montgomery', ' Nassau', ' Niagara', ' Oneida',
       ' Onondaga', ' Ontario', ' Orange', nan, 'County', ' Orleans',
       ' Oswego', ' Otsego', ' Putnam', ' Rensselaer', ' Rockland',
       ' Saratoga', ' Schenectady', ' Schoharie', ' Schuyler', ' Seneca',
       ' St. Lawrence', ' Steuben', ' Suffolk', ' Sullivan', ' Tioga',
       ' Tompkins', ' Ulster', ' Warren', ' Washington', ' Wayne',
       ' Westchester', ' Wyoming', ' Yates', 'Total Outside NYC',
       ' Bronx', ' Kings', ' New York', ' Queens', ' Richmond',
       'Total NYC', 'Statewide Total', 'RECAP'], dtype=object)

## Check the first 5 rows to see what columns there are

In [5]:
voting_df.head()

,County,Clinton Kaine,Trump Pence,Trump Pence.1,Stein Baraka,Clinton Kaine.1,Johnson Weld,Clinton Kaine.2,Johnson Weld.1,Unnamed: 9,...,Emidio Soltysik,Tony Valdivia,J. J. Vogel-Walcutt,Esther Welsh,Barbara Whitaker,Robert M. Wolff,Blank,Void,Scattering,Total
0,Albany,78504,42554,5254,2475,3419,3099,1148,1693,NaN,...,3,1,0,0,0,0,1350,145,1318,141313
1,Allegany,4646,11421,1104,275,173,527,63,208,NaN,...,0,0,0,0,0,0,178,2,176,18872
2,Broome,37106,37337,3606,1546,1631,2187,475,1059,NaN,...,1,0,0,0,0,1,1038,67,864,87177
3,Cattaraugus,9077,17485,2207,440,274,932,146,314,NaN,...,0,0,0,0,0,0,320,72,205,31553
4,Cayuga,12779,15316,2068,501,541,1008,202,350,NaN,...,1,0,0,0,0,1,259,16,307,33447

## First get rid of the rows that are null in the county column
* assign "missing_county" to the rows in the county column which are null

In [6]:
missing_county=voting_df['County'].isnull()

* check which rows "is null" is true for

In [7]:
missing_county

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
      ...
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
50    False
51    False
52    False
53    False
54    False
55    False
56    False
57    False
58    False
59    False
60    False
61    False
62    False
63    False
64    False
65    False
66    False
67    False
68     True
69    False
Name: County, Length: 70, dtype: bool

* remove those rows from the data frame

In [8]:
voting_df2=voting_df[-missing_county]

* check the shape now to see how many rows have been removed

In [9]:
voting_df2.shape

(67, 54)

## Check the rows in the County column now to see what else needs to be removed

In [10]:
voting_df2['County'].unique()

array([' Albany', ' Allegany', ' Broome', ' Cattaraugus', ' Cayuga',
       ' Chautauqua', ' Chemung', ' Chenango', ' Clinton', ' Columbia',
       ' Cortland', ' Delaware', ' Dutchess', ' Erie', ' Essex',
       ' Franklin', ' Fulton', ' Genesee', ' Greene', ' Hamilton',
       ' Herkimer', ' Jefferson', ' Lewis', ' Livingston', ' Madison',
       ' Monroe', ' Montgomery', ' Nassau', ' Niagara', ' Oneida',
       ' Onondaga', ' Ontario', ' Orange', 'County', ' Orleans',
       ' Oswego', ' Otsego', ' Putnam', ' Rensselaer', ' Rockland',
       ' Saratoga', ' Schenectady', ' Schoharie', ' Schuyler', ' Seneca',
       ' St. Lawrence', ' Steuben', ' Suffolk', ' Sullivan', ' Tioga',
       ' Tompkins', ' Ulster', ' Warren', ' Washington', ' Wayne',
       ' Westchester', ' Wyoming', ' Yates', 'Total Outside NYC',
       ' Bronx', ' Kings', ' New York', ' Queens', ' Richmond',
       'Total NYC', 'Statewide Total', 'RECAP'], dtype=object)

## Remove more unnecessary rows
* assign names to the rows that are totals of the multiple counties added together as well as the "recap" and "county" rows
* remove those rows from the data frame
* reprint the data frame

In [11]:
contains_total = voting_df2['County'].str.contains('Total')
contains_RECAP = voting_df2['County'].str.contains('RECAP')
contains_county = voting_df2['County']=='County'
voting_df3=voting_df2[-contains_total & -contains_RECAP & -contains_county]
voting_df3

,County,Clinton Kaine,Trump Pence,Trump Pence.1,Stein Baraka,Clinton Kaine.1,Johnson Weld,Clinton Kaine.2,Johnson Weld.1,Unnamed: 9,...,Emidio Soltysik,Tony Valdivia,J. J. Vogel-Walcutt,Esther Welsh,Barbara Whitaker,Robert M. Wolff,Blank,Void,Scattering,Total
0,Albany,78504,42554,5254,2475,3419,3099,1148,1693,NaN,...,3,1,0,0,0,0,1350,145,1318,141313
1,Allegany,4646,11421,1104,275,173,527,63,208,NaN,...,0,0,0,0,0,0,178,2,176,18872
2,Broome,37106,37337,3606,1546,1631,2187,475,1059,NaN,...,1,0,0,0,0,1,1038,67,864,87177
3,Cattaraugus,9077,17485,2207,440,274,932,146,314,NaN,...,0,0,0,0,0,0,320,72,205,31553
4,Cayuga,12779,15316,2068,501,541,1008,202,350,NaN,...,1,0,0,0,0,1,259,16,307,33447
5,Chautauqua,18112,27516,4078,757,704,1601,275,602,NaN,...,0,0,0,0,0,0,576,0,485,54810
6,Chemung,13277,18347,1750,463,326,1012,154,435,NaN,...,0,0,0,0,0,0,395,0,261,36514
7,Chenango,6417,10849,1072,358,258,634,100,282,NaN,...,0,0,0,0,0,0,148,11,169,20319
8,Clinton,14217,13312,1137,613,634,964,208,348,NaN,...,2,0,0,0,0,0,2414,17,602,34536
9,Columbia,14146,11867,1889,598,865,626,273,318,NaN,...,0,0,0,0,0,0,230,20,238,31152
10,Cortland,8307,8930,970,374,309,682,155,275,NaN,...,0,0,0,0,0,0,209,0,180,20453
11,Delaware,6194,10827,1115,377,333,476,100,174,NaN,...,0,0,0,0,0,0,131,9,143,19932
12,Dutchess,58910,54366,7431,1986,2602,2366,749,1234,NaN,...,1,0,0,0,0,0,1084,216,1002,132234
13,Erie,205773,159742,28561,6367,7302,8463,2381,4257,NaN,...,0,0,0,0,0,0,7912,0,0,431537
14,Essex,7341,7347,611,420,282,533,139,195,NaN,...,0,0,0,0,0,0,244,0,297,17462
15,Franklin,6994,7670,551,359,225,505,78,212,NaN,...,0,0,0,0,0,0,227,10,312,17189
16,Fulton,6215,12331,1131,311,177,532,104,247,NaN,...,0,0,0,0,0,0,238,12,145,21464
17,Genesee,7276,14646,2269,324,258,902,116,417,NaN,...,0,0,0,0,0,0,240,4,177,26676
18,Greene,6914,11620,1453,442,365,458,126,189,NaN,...,0,0,0,0,0,0,269,6,391,22325
19,Hamilton,906,1897,167,44,24,79,19,40,NaN,...,0,0,0,0,0,0,52,0,49,3277
20,Herkimer,7708,15110,1589,403,262,740,113,262,NaN,...,0,0,0,0,0,0,227,215,0,26697
21,Jefferson,13150,19894,1869,617,466,1238,193,432,NaN,...,0,0,0,0,0,0,327,50,297,38613
22,Lewis,3009,6698,702,132,96,396,41,100,NaN,...,0,0,0,0,0,0,125,5,111,11455
23,Livingston,10140,15168,2122,449,370,862,187,414,NaN,...,0,0,0,0,0,1,253,29,197,30313
24,Madison,10988,14144,1792,516,482,1097,197,485,NaN,...,0,0,0,0,0,0,288,1,263,30353
25,Monroe,179142,116476,20106,5289,6588,8640,2862,4565,NaN,...,2,1,0,1,0,0,2984,194,2902,350968
26,Montgomery,6264,9894,1407,268,230,460,101,230,NaN,...,0,0,0,0,0,0,203,17,143,19274
27,Nassau,324212,272873,19152,6734,5671,7195,2271,4142,NaN,...,2,0,0,0,0,0,5865,689,4147,653676
28,Niagara,33927,44289,7672,1287,1228,2059,404,806,NaN,...,0,0,0,0,0,0,1891,0,601,94293
29,Oneida,32217,46282,5155,1235,1070,2682,456,1072,NaN,...,0,0,0,0,0,0,864,39,651,91912
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,Orange,65532,68509,8136,2154,1997,2687,749,1180,NaN,...,0,0,0,0,0,0,4521,124,894,156666
36,Orleans,4239,9700,1236,184,150,470,81,210,NaN,...,0,0,0,0,0,0,182,7,79,16569
37,Oswego,16186,24794,2894,705,663,1554,246,583,NaN,...,1,0,0,0,0,0,343,24,392,48547
38,Otsego,9809,12156,1152,520,476,723,166,343,NaN,...,1,0,0,0,0,0,221,48,253,25937
39,Putnam,18324,23905,3119,590,806,751,236,420,NaN,...,0,0,0,0,0,0,302,0,352,48865
40,Rensselaer,30506,28591,5135,1355,1576,1959,635,985,NaN,...,0,0,0,0,0,0,558,15,651,72135
41,Rockland,67098,54873,6038,1348,1640,1529,604,755,NaN,...,0,0,0,0,0,0,2865,97,1008,138049
42,Saratoga,48503,48584,5991,1825,1653,3354,757,1762,NaN,...,0,0,0,0,0,0,1024,0,1266,115118
43,Schenectady,32072,25203,3750,1127,1165,1770,510,854,NaN,...,0,0,0,0,0,0,583,42,646,67905
44,Schoharie,3966,7705,1126,274,191,382,83,149,NaN,...,0,0,0,0,0,0,111,4,118,14165
45,Schuyler,2817,4517,533,216,205,206,69,103,NaN,...,0,0,0,0,0,0,59,2,82,8833
46,Seneca,5350,6488,748,259,235,464,112,174,NaN,...,0,0,0,0,0,0,104,6,109,14090
47,St. Lawrence,15749,18236,1706,807,534,1034,205,411,NaN,...,0,0,0,0,0,0,474,0,397,39632
48,Steuben,11982,24743,2088,585,389,1167,155,499,NaN,...,0,0,0,0,0,0,309,23,291,42334
49,Suffolk,292720,314639,35931,8099,8001,9169,3230,4747,NaN,...,3,0,0,0,0,0,5028,208,4087,686490
50,Sullivan,11913,13929,2002,504,498,538,157,196,NaN,...,0,0,0,0,0,0,502,27,194,30484
51,Tioga,7123,12206,1054,337,299,623,104,307,NaN,...,0,0,0,0,0,0,247,9,192,22555
52,Tompkins,26093,9370,1001,1380,2358,855,439,538,NaN,...,0,2,0,0,0,0,338,23,479,43039
53,Ulster,40674,30288,4951,2147,3192,1570,731,822,NaN,...,2,0,0,0,0,0,889,844,755,87023
54,Warren,12461,14317,1434,863,420,854,210,401,NaN,...,0,0,0,0,0,0,291,17,364,31716
55,Washington,8564,12170,1440,578,373,644,161,282,NaN,...,1,0,0,0,0,0,245,0,236,24773
56,Wayne,12728,20221,3159,567,531,1391,214,520,NaN,...,0,0,0,0,0,0,289,33,208,40009
57,Westchester,265256,119658,11580,4358,5658,4898,2012,3144,NaN,...,2,0,0,0,0,0,3400,0,3475,424055
58,Wyoming,3716,10928,1514,180,134,474,54,199,NaN,...,0,0,0,0,0,0,183,20,64,17501
59,Yates,3473,5089,571,146,126,345,60,149,NaN,...,0,0,0,0,0,1,152,3,72,10221
61,Bronx,347893,34089,3708,4341,5016,1832,737,480,NaN,...,0,0,0,0,0,0,3455,0,1268,402977
62,Kings,611439,129368,11676,11932,26578,4786,2536,2078,NaN,...,10,0,0,0,0,0,4900,0,4516,810505
63,New York,557859,60638,4292,9441,18396,5588,2758,3820,NaN,...,0,0,0,0,1,0,4172,0,5071,673112
64,Queens,502411,137148,12193,9230,12666,5270,2143,1846,NaN,...,2,0,0,0,0,0,4816,0,2880,691209
65,Richmond,71348,92383,9054,1886,2372,1744,423,688,NaN,...,1,0,0,0,0,0,1160,0,882,182120

## Check the list of counties again to see what else needs to be fixed

In [12]:
voting_df3['County'].unique()

array([' Albany', ' Allegany', ' Broome', ' Cattaraugus', ' Cayuga',
       ' Chautauqua', ' Chemung', ' Chenango', ' Clinton', ' Columbia',
       ' Cortland', ' Delaware', ' Dutchess', ' Erie', ' Essex',
       ' Franklin', ' Fulton', ' Genesee', ' Greene', ' Hamilton',
       ' Herkimer', ' Jefferson', ' Lewis', ' Livingston', ' Madison',
       ' Monroe', ' Montgomery', ' Nassau', ' Niagara', ' Oneida',
       ' Onondaga', ' Ontario', ' Orange', ' Orleans', ' Oswego',
       ' Otsego', ' Putnam', ' Rensselaer', ' Rockland', ' Saratoga',
       ' Schenectady', ' Schoharie', ' Schuyler', ' Seneca',
       ' St. Lawrence', ' Steuben', ' Suffolk', ' Sullivan', ' Tioga',
       ' Tompkins', ' Ulster', ' Warren', ' Washington', ' Wayne',
       ' Westchester', ' Wyoming', ' Yates', ' Bronx', ' Kings',
       ' New York', ' Queens', ' Richmond'], dtype=object)

### Remove the extra spaces from around the words by using the strip function

In [13]:
voting_df3['County']=voting_df3['County'].str.strip()

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

## Drop the columns that have no values (NaN)

In [14]:
voting_df3.dropna(axis=1, inplace=True)

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [15]:
voting_df3.head(20)

,County,Clinton Kaine,Trump Pence,Trump Pence.1,Stein Baraka,Clinton Kaine.1,Johnson Weld,Clinton Kaine.2,Johnson Weld.1,County.1,...,Emidio Soltysik,Tony Valdivia,J. J. Vogel-Walcutt,Esther Welsh,Barbara Whitaker,Robert M. Wolff,Blank,Void,Scattering,Total
0,Albany,78504,42554,5254,2475,3419,3099,1148,1693,Albany,...,3,1,0,0,0,0,1350,145,1318,141313
1,Allegany,4646,11421,1104,275,173,527,63,208,Allegany,...,0,0,0,0,0,0,178,2,176,18872
2,Broome,37106,37337,3606,1546,1631,2187,475,1059,Broome,...,1,0,0,0,0,1,1038,67,864,87177
3,Cattaraugus,9077,17485,2207,440,274,932,146,314,Cattaraugus,...,0,0,0,0,0,0,320,72,205,31553
4,Cayuga,12779,15316,2068,501,541,1008,202,350,Cayuga,...,1,0,0,0,0,1,259,16,307,33447
5,Chautauqua,18112,27516,4078,757,704,1601,275,602,Chautauqua,...,0,0,0,0,0,0,576,0,485,54810
6,Chemung,13277,18347,1750,463,326,1012,154,435,Chemung,...,0,0,0,0,0,0,395,0,261,36514
7,Chenango,6417,10849,1072,358,258,634,100,282,Chenango,...,0,0,0,0,0,0,148,11,169,20319
8,Clinton,14217,13312,1137,613,634,964,208,348,Clinton,...,2,0,0,0,0,0,2414,17,602,34536
9,Columbia,14146,11867,1889,598,865,626,273,318,Columbia,...,0,0,0,0,0,0,230,20,238,31152
10,Cortland,8307,8930,970,374,309,682,155,275,Cortland,...,0,0,0,0,0,0,209,0,180,20453
11,Delaware,6194,10827,1115,377,333,476,100,174,Delaware,...,0,0,0,0,0,0,131,9,143,19932
12,Dutchess,58910,54366,7431,1986,2602,2366,749,1234,Dutchess,...,1,0,0,0,0,0,1084,216,1002,132234
13,Erie,205773,159742,28561,6367,7302,8463,2381,4257,Erie,...,0,0,0,0,0,0,7912,0,0,431537
14,Essex,7341,7347,611,420,282,533,139,195,Essex,...,0,0,0,0,0,0,244,0,297,17462
15,Franklin,6994,7670,551,359,225,505,78,212,Franklin,...,0,0,0,0,0,0,227,10,312,17189
16,Fulton,6215,12331,1131,311,177,532,104,247,Fulton,...,0,0,0,0,0,0,238,12,145,21464
17,Genesee,7276,14646,2269,324,258,902,116,417,Genesee,...,0,0,0,0,0,0,240,4,177,26676
18,Greene,6914,11620,1453,442,365,458,126,189,Greene,...,0,0,0,0,0,0,269,6,391,22325
19,Hamilton,906,1897,167,44,24,79,19,40,Hamilton,...,0,0,0,0,0,0,52,0,49,3277

* There are still a lot of columns that are not needed for the data analysis

## Look at the column names to see what needs to be fixed

In [16]:
voting_df3.columns

Index(['County', 'Clinton   Kaine', 'Trump    Pence', 'Trump    Pence.1',
       'Stein   Baraka', 'Clinton   Kaine.1', 'Johnson  Weld',
       'Clinton   Kaine.2', 'Johnson  Weld.1', 'County.1', 'Arantxa Aranja',
       'Neer R. Asherie', 'Mark Blickley', 'Robert L. Buchanan',
       'Gary S. Canns', 'Willie Carter', 'Darrell Castle', 'Ariel Cohen',
       'William J. Connolly', '"Rocky" Rogue De La Fuente', 'Jason Fried',
       'Zoltan Istvan Gyurko', 'County.2', 'Ben Hartnell', 'Tom Hoefling',
       'Michael Frederick Ingbar', 'Lynn Kahn', 'Chris Keniston',
       'Gloria La Riva', 'Jeffrey Mackler', 'Michael A. Maturen',
       'Evan McMullin', 'Monica Moorehead', 'Jason Mutford', 'Clifton Roberts',
       'County.3', 'Marshall Schoenke', 'Ryan Alan Scott', 'Emidio Soltysik',
       'Tony Valdivia', 'J. J. Vogel-Walcutt', 'Esther Welsh',
       'Barbara Whitaker', 'Robert M. Wolff', 'Blank', 'Void', 'Scattering',
       'Total'],
      dtype='object')

## Clean up the column names by replacing abnormal amounts of spaces with dashes and calling that new_colnames

In [17]:
new_colnames=voting_df3.columns.str.replace('\s{2,}','-')
new_colnames

Index(['County', 'Clinton-Kaine', 'Trump-Pence', 'Trump-Pence.1',
       'Stein-Baraka', 'Clinton-Kaine.1', 'Johnson-Weld', 'Clinton-Kaine.2',
       'Johnson-Weld.1', 'County.1', 'Arantxa Aranja', 'Neer R. Asherie',
       'Mark Blickley', 'Robert L. Buchanan', 'Gary S. Canns', 'Willie Carter',
       'Darrell Castle', 'Ariel Cohen', 'William J. Connolly',
       '"Rocky" Rogue De La Fuente', 'Jason Fried', 'Zoltan Istvan Gyurko',
       'County.2', 'Ben Hartnell', 'Tom Hoefling', 'Michael Frederick Ingbar',
       'Lynn Kahn', 'Chris Keniston', 'Gloria La Riva', 'Jeffrey Mackler',
       'Michael A. Maturen', 'Evan McMullin', 'Monica Moorehead',
       'Jason Mutford', 'Clifton Roberts', 'County.3', 'Marshall Schoenke',
       'Ryan Alan Scott', 'Emidio Soltysik', 'Tony Valdivia',
       'J. J. Vogel-Walcutt', 'Esther Welsh', 'Barbara Whitaker',
       'Robert M. Wolff', 'Blank', 'Void', 'Scattering', 'Total'],
      dtype='object')

## Replace the column names in the dataframe with new_colnames

In [18]:
voting_df3.columns=new_colnames

### Check the columns to see if there are any that are not needed in the data frame

In [19]:
voting_df3.columns

Index(['County', 'Clinton-Kaine', 'Trump-Pence', 'Trump-Pence.1',
       'Stein-Baraka', 'Clinton-Kaine.1', 'Johnson-Weld', 'Clinton-Kaine.2',
       'Johnson-Weld.1', 'County.1', 'Arantxa Aranja', 'Neer R. Asherie',
       'Mark Blickley', 'Robert L. Buchanan', 'Gary S. Canns', 'Willie Carter',
       'Darrell Castle', 'Ariel Cohen', 'William J. Connolly',
       '"Rocky" Rogue De La Fuente', 'Jason Fried', 'Zoltan Istvan Gyurko',
       'County.2', 'Ben Hartnell', 'Tom Hoefling', 'Michael Frederick Ingbar',
       'Lynn Kahn', 'Chris Keniston', 'Gloria La Riva', 'Jeffrey Mackler',
       'Michael A. Maturen', 'Evan McMullin', 'Monica Moorehead',
       'Jason Mutford', 'Clifton Roberts', 'County.3', 'Marshall Schoenke',
       'Ryan Alan Scott', 'Emidio Soltysik', 'Tony Valdivia',
       'J. J. Vogel-Walcutt', 'Esther Welsh', 'Barbara Whitaker',
       'Robert M. Wolff', 'Blank', 'Void', 'Scattering', 'Total'],
      dtype='object')

### Make a list of the columns that should be kept in the data frame

In [20]:
cols_to_keep= ['County', 'Clinton-Kaine', 'Trump-Pence', 'Trump-Pence.1',
       'Stein-Baraka', 'Clinton-Kaine.1', 'Johnson-Weld', 'Clinton-Kaine.2',
       'Johnson-Weld.1','Arantxa Aranja', 'Neer R. Asherie',
       'Mark Blickley', 'Robert L. Buchanan', 'Gary S. Canns', 'Willie Carter',
       'Darrell Castle', 'Ariel Cohen', 'William J. Connolly',
       '"Rocky" Rogue De La Fuente', 'Jason Fried', 'Zoltan Istvan Gyurko', 'Ben Hartnell', 'Tom Hoefling', 'Michael Frederick Ingbar',
       'Lynn Kahn', 'Chris Keniston', 'Gloria La Riva', 'Jeffrey Mackler',
       'Michael A. Maturen', 'Evan McMullin', 'Monica Moorehead',
       'Jason Mutford', 'Clifton Roberts','Marshall Schoenke',
       'Ryan Alan Scott', 'Emidio Soltysik', 'Tony Valdivia',
       'J. J. Vogel-Walcutt', 'Esther Welsh', 'Barbara Whitaker',
       'Robert M. Wolff']

### Create a new version of that data frame made only of the columns that should be kept

In [21]:
voting_df4=voting_df3[cols_to_keep]

### Look at the new data frame

In [22]:
voting_df4

,County,Clinton-Kaine,Trump-Pence,Trump-Pence.1,Stein-Baraka,Clinton-Kaine.1,Johnson-Weld,Clinton-Kaine.2,Johnson-Weld.1,Arantxa Aranja,...,Jason Mutford,Clifton Roberts,Marshall Schoenke,Ryan Alan Scott,Emidio Soltysik,Tony Valdivia,J. J. Vogel-Walcutt,Esther Welsh,Barbara Whitaker,Robert M. Wolff
0,Albany,78504,42554,5254,2475,3419,3099,1148,1693,0,...,14,3,0,0,3,1,0,0,0,0
1,Allegany,4646,11421,1104,275,173,527,63,208,0,...,0,0,0,0,0,0,0,0,0,0
2,Broome,37106,37337,3606,1546,1631,2187,475,1059,0,...,0,0,0,0,1,0,0,0,0,1
3,Cattaraugus,9077,17485,2207,440,274,932,146,314,0,...,0,0,0,0,0,0,0,0,0,0
4,Cayuga,12779,15316,2068,501,541,1008,202,350,0,...,0,0,0,0,1,0,0,0,0,1
5,Chautauqua,18112,27516,4078,757,704,1601,275,602,0,...,0,0,0,0,0,0,0,0,0,0
6,Chemung,13277,18347,1750,463,326,1012,154,435,0,...,0,0,0,0,0,0,0,0,0,0
7,Chenango,6417,10849,1072,358,258,634,100,282,0,...,0,0,0,0,0,0,0,0,0,0
8,Clinton,14217,13312,1137,613,634,964,208,348,0,...,0,0,0,0,2,0,0,0,0,0
9,Columbia,14146,11867,1889,598,865,626,273,318,0,...,1,0,0,0,0,0,0,0,0,0
10,Cortland,8307,8930,970,374,309,682,155,275,0,...,0,0,0,0,0,0,0,0,0,0
11,Delaware,6194,10827,1115,377,333,476,100,174,0,...,0,0,0,0,0,0,0,0,0,0
12,Dutchess,58910,54366,7431,1986,2602,2366,749,1234,0,...,0,0,0,0,1,0,0,0,0,0
13,Erie,205773,159742,28561,6367,7302,8463,2381,4257,0,...,1,4,0,0,0,0,0,0,0,0
14,Essex,7341,7347,611,420,282,533,139,195,0,...,0,2,0,0,0,0,0,0,0,0
15,Franklin,6994,7670,551,359,225,505,78,212,0,...,0,0,0,0,0,0,0,0,0,0
16,Fulton,6215,12331,1131,311,177,532,104,247,0,...,1,0,0,0,0,0,0,0,0,0
17,Genesee,7276,14646,2269,324,258,902,116,417,0,...,0,0,0,0,0,0,0,0,0,0
18,Greene,6914,11620,1453,442,365,458,126,189,0,...,2,2,0,0,0,0,0,0,0,0
19,Hamilton,906,1897,167,44,24,79,19,40,0,...,0,0,0,0,0,0,0,0,0,0
20,Herkimer,7708,15110,1589,403,262,740,113,262,0,...,0,0,0,0,0,0,0,0,0,0
21,Jefferson,13150,19894,1869,617,466,1238,193,432,0,...,0,0,0,0,0,0,0,0,0,0
22,Lewis,3009,6698,702,132,96,396,41,100,0,...,0,0,0,0,0,0,0,0,0,0
23,Livingston,10140,15168,2122,449,370,862,187,414,0,...,0,1,0,0,0,0,0,0,0,1
24,Madison,10988,14144,1792,516,482,1097,197,485,0,...,0,0,0,0,0,0,0,0,0,0
25,Monroe,179142,116476,20106,5289,6588,8640,2862,4565,0,...,8,2,2,1,2,1,0,1,0,0
26,Montgomery,6264,9894,1407,268,230,460,101,230,0,...,4,0,0,0,0,0,0,0,0,0
27,Nassau,324212,272873,19152,6734,5671,7195,2271,4142,0,...,1,7,0,0,2,0,0,0,0,0
28,Niagara,33927,44289,7672,1287,1228,2059,404,806,0,...,0,0,0,0,0,0,0,0,0,0
29,Oneida,32217,46282,5155,1235,1070,2682,456,1072,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,Orange,65532,68509,8136,2154,1997,2687,749,1180,0,...,0,3,0,0,0,0,0,0,0,0
36,Orleans,4239,9700,1236,184,150,470,81,210,0,...,0,0,0,0,0,0,0,0,0,0
37,Oswego,16186,24794,2894,705,663,1554,246,583,0,...,1,1,0,0,1,0,0,0,0,0
38,Otsego,9809,12156,1152,520,476,723,166,343,0,...,0,0,0,0,1,0,0,0,0,0
39,Putnam,18324,23905,3119,590,806,751,236,420,0,...,0,2,0,0,0,0,0,0,0,0
40,Rensselaer,30506,28591,5135,1355,1576,1959,635,985,0,...,11,5,0,0,0,0,0,0,0,0
41,Rockland,67098,54873,6038,1348,1640,1529,604,755,0,...,0,1,0,0,0,0,0,0,0,0
42,Saratoga,48503,48584,5991,1825,1653,3354,757,1762,0,...,9,0,0,0,0,0,0,0,0,0
43,Schenectady,32072,25203,3750,1127,1165,1770,510,854,0,...,12,5,0,0,0,0,0,0,0,0
44,Schoharie,3966,7705,1126,274,191,382,83,149,0,...,0,0,0,0,0,0,0,0,0,0
45,Schuyler,2817,4517,533,216,205,206,69,103,0,...,0,0,0,0,0,0,0,0,0,0
46,Seneca,5350,6488,748,259,235,464,112,174,0,...,0,0,0,0,0,0,0,0,0,0
47,St. Lawrence,15749,18236,1706,807,534,1034,205,411,0,...,0,0,0,0,0,0,0,0,0,0
48,Steuben,11982,24743,2088,585,389,1167,155,499,0,...,0,0,0,0,0,0,0,0,0,0
49,Suffolk,292720,314639,35931,8099,8001,9169,3230,4747,0,...,0,7,0,0,3,0,0,0,0,0
50,Sullivan,11913,13929,2002,504,498,538,157,196,0,...,0,0,0,0,0,0,0,0,0,0
51,Tioga,7123,12206,1054,337,299,623,104,307,0,...,0,0,0,0,0,0,0,0,0,0
52,Tompkins,26093,9370,1001,1380,2358,855,439,538,0,...,0,0,0,0,0,2,0,0,0,0
53,Ulster,40674,30288,4951,2147,3192,1570,731,822,0,...,3,6,0,0,2,0,0,0,0,0
54,Warren,12461,14317,1434,863,420,854,210,401,0,...,3,0,0,0,0,0,0,0,0,0
55,Washington,8564,12170,1440,578,373,644,161,282,0,...,0,0,0,0,1,0,0,0,0,0
56,Wayne,12728,20221,3159,567,531,1391,214,520,0,...,0,0,0,0,0,0,0,0,0,0
57,Westchester,265256,119658,11580,4358,5658,4898,2012,3144,0,...,1,6,0,0,2,0,0,0,0,0
58,Wyoming,3716,10928,1514,180,134,474,54,199,0,...,0,0,0,0,0,0,0,0,0,0
59,Yates,3473,5089,571,146,126,345,60,149,0,...,0,0,0,0,0,0,0,0,0,1
61,Bronx,347893,34089,3708,4341,5016,1832,737,480,0,...,0,0,0,0,0,0,0,0,0,0
62,Kings,611439,129368,11676,11932,26578,4786,2536,2078,0,...,1,13,1,0,10,0,0,0,0,0
63,New York,557859,60638,4292,9441,18396,5588,2758,3820,0,...,0,6,0,2,0,0,0,0,1,0
64,Queens,502411,137148,12193,9230,12666,5270,2143,1846,0,...,1,9,0,0,2,0,0,0,0,0
65,Richmond,71348,92383,9054,1886,2372,1744,423,688,0,...,0,3,0,0,1,0,0,0,0,0

### The data in the candidate columns need to be recognized as integers (to be added later) rather than strings
* create a for loop that shows the columns that are being fixed and changes their type to integer

In [23]:
for candidate in cols_to_keep[1:]:
    print('Fixing type of column:', candidate)
    voting_df4[candidate]=voting_df4[candidate].astype(int)

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

Fixing type of column: Clinton-Kaine
Fixing type of column: Trump-Pence
Fixing type of column: Trump-Pence.1
Fixing type of column: Stein-Baraka
Fixing type of column: Clinton-Kaine.1
Fixing type of column: Johnson-Weld
Fixing type of column: Clinton-Kaine.2
Fixing type of column: Johnson-Weld.1
Fixing type of column: Arantxa Aranja
Fixing type of column: Neer R. Asherie
Fixing type of column: Mark Blickley
Fixing type of column: Robert L. Buchanan
Fixing type of column: Gary S. Canns
Fixing type of column: Willie Carter
Fixing type of column: Darrell Castle
Fixing type of column: Ariel Cohen
Fixing type of column: William J. Connolly
Fixing type of column: "Rocky" Rogue De La Fuente
Fixing type of column: Jason Fried
Fixing type of column: Zoltan Istvan Gyurko
Fixing type of column: Ben Hartnell
Fixing type of column: Tom Hoefling
Fixing type of column: Michael Frederick Ingbar
Fixing type of column: Lynn Kahn
Fixing type of column: Chris Keniston
Fixing type of column: Gloria La Riva
Fixing type of column: Jeffrey Mackler
Fixing type of column: Michael A. Maturen
Fixing type of column: Evan McMullin
Fixing type of column: Monica Moorehead
Fixing type of column: Jason Mutford
Fixing type of column: Clifton Roberts
Fixing type of column: Marshall Schoenke
Fixing type of column: Ryan Alan Scott
Fixing type of column: Emidio Soltysik
Fixing type of column: Tony Valdivia
Fixing type of column: J. J. Vogel-Walcutt
Fixing type of column: Esther Welsh
Fixing type of column: Barbara Whitaker
Fixing type of column: Robert M. Wolff

## Add the three Clinton-Kaine columns together to get the total number of those that voted for Clinton in each county in a new column called "Clinton-Kaine-Total"

In [24]:
voting_df4['Clinton-Kaine-Total'] = voting_df4[['Clinton-Kaine','Clinton-Kaine.1','Clinton-Kaine.2']].sum(axis=1)

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

## Add the three Trump-Pence columns together to get the total number of those that voted for Trump in each county in a new column called "Trump-Pence-Total"

In [25]:
voting_df4['Trump-Pence-Total'] = voting_df4[['Trump-Pence', 'Trump-Pence.1']].sum(axis=1)

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

## Add the columns of all the other candidates together together to get the total number of those that voted for "other" in each county in a new column called "Other"

In [26]:
voting_df4['Other'] = voting_df4[['Stein-Baraka','Johnson-Weld','Johnson-Weld.1','Arantxa Aranja', 'Neer R. Asherie',
       'Mark Blickley', 'Robert L. Buchanan', 'Gary S. Canns', 'Willie Carter',
       'Darrell Castle', 'Ariel Cohen', 'William J. Connolly',
       '"Rocky" Rogue De La Fuente', 'Jason Fried', 'Zoltan Istvan Gyurko', 'Ben Hartnell', 'Tom Hoefling', 'Michael Frederick Ingbar',
       'Lynn Kahn', 'Chris Keniston', 'Gloria La Riva', 'Jeffrey Mackler',
       'Michael A. Maturen', 'Evan McMullin', 'Monica Moorehead',
       'Jason Mutford', 'Clifton Roberts','Marshall Schoenke',
       'Ryan Alan Scott', 'Emidio Soltysik', 'Tony Valdivia',
       'J. J. Vogel-Walcutt', 'Esther Welsh', 'Barbara Whitaker',
       'Robert M. Wolff']].sum(axis=1)

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

### Look at the data frame with its new columns

In [27]:
voting_df4

,County,Clinton-Kaine,Trump-Pence,Trump-Pence.1,Stein-Baraka,Clinton-Kaine.1,Johnson-Weld,Clinton-Kaine.2,Johnson-Weld.1,Arantxa Aranja,...,Ryan Alan Scott,Emidio Soltysik,Tony Valdivia,J. J. Vogel-Walcutt,Esther Welsh,Barbara Whitaker,Robert M. Wolff,Clinton-Kaine-Total,Trump-Pence-Total,Other
0,Albany,78504,42554,5254,2475,3419,3099,1148,1693,0,...,0,3,1,0,0,0,0,83071,47808,7621
1,Allegany,4646,11421,1104,275,173,527,63,208,0,...,0,0,0,0,0,0,0,4882,12525,1109
2,Broome,37106,37337,3606,1546,1631,2187,475,1059,0,...,0,1,0,0,0,0,1,39212,40943,5053
3,Cattaraugus,9077,17485,2207,440,274,932,146,314,0,...,0,0,0,0,0,0,0,9497,19692,1767
4,Cayuga,12779,15316,2068,501,541,1008,202,350,0,...,0,1,0,0,0,0,1,13522,17384,1959
5,Chautauqua,18112,27516,4078,757,704,1601,275,602,0,...,0,0,0,0,0,0,0,19091,31594,3064
6,Chemung,13277,18347,1750,463,326,1012,154,435,0,...,0,0,0,0,0,0,0,13757,20097,2004
7,Chenango,6417,10849,1072,358,258,634,100,282,0,...,0,0,0,0,0,0,0,6775,11921,1295
8,Clinton,14217,13312,1137,613,634,964,208,348,0,...,0,2,0,0,0,0,0,15059,14449,1995
9,Columbia,14146,11867,1889,598,865,626,273,318,0,...,0,0,0,0,0,0,0,15284,13756,1624
10,Cortland,8307,8930,970,374,309,682,155,275,0,...,0,0,0,0,0,0,0,8771,9900,1393
11,Delaware,6194,10827,1115,377,333,476,100,174,0,...,0,0,0,0,0,0,0,6627,11942,1080
12,Dutchess,58910,54366,7431,1986,2602,2366,749,1234,0,...,0,1,0,0,0,0,0,62261,61797,5874
13,Erie,205773,159742,28561,6367,7302,8463,2381,4257,0,...,0,0,0,0,0,0,0,215456,188303,19866
14,Essex,7341,7347,611,420,282,533,139,195,0,...,0,0,0,0,0,0,0,7762,7958,1201
15,Franklin,6994,7670,551,359,225,505,78,212,0,...,0,0,0,0,0,0,0,7297,8221,1122
16,Fulton,6215,12331,1131,311,177,532,104,247,0,...,0,0,0,0,0,0,0,6496,13462,1111
17,Genesee,7276,14646,2269,324,258,902,116,417,0,...,0,0,0,0,0,0,0,7650,16915,1690
18,Greene,6914,11620,1453,442,365,458,126,189,0,...,0,0,0,0,0,0,0,7405,13073,1181
19,Hamilton,906,1897,167,44,24,79,19,40,0,...,0,0,0,0,0,0,0,949,2064,163
20,Herkimer,7708,15110,1589,403,262,740,113,262,0,...,0,0,0,0,0,0,0,8083,16699,1473
21,Jefferson,13150,19894,1869,617,466,1238,193,432,0,...,0,0,0,0,0,0,0,13809,21763,2367
22,Lewis,3009,6698,702,132,96,396,41,100,0,...,0,0,0,0,0,0,0,3146,7400,668
23,Livingston,10140,15168,2122,449,370,862,187,414,0,...,0,0,0,0,0,0,1,10697,17290,1847
24,Madison,10988,14144,1792,516,482,1097,197,485,0,...,0,0,0,0,0,0,0,11667,15936,2198
25,Monroe,179142,116476,20106,5289,6588,8640,2862,4565,0,...,1,2,1,0,1,0,0,188592,136582,19714
26,Montgomery,6264,9894,1407,268,230,460,101,230,0,...,0,0,0,0,0,0,0,6595,11301,1015
27,Nassau,324212,272873,19152,6734,5671,7195,2271,4142,0,...,0,2,0,0,0,0,0,332154,292025,18796
28,Niagara,33927,44289,7672,1287,1228,2059,404,806,0,...,0,0,0,0,0,0,0,35559,51961,4281
29,Oneida,32217,46282,5155,1235,1070,2682,456,1072,0,...,0,0,0,0,0,0,0,33743,51437,5178
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,Orange,65532,68509,8136,2154,1997,2687,749,1180,0,...,0,0,0,0,0,0,0,68278,76645,6204
36,Orleans,4239,9700,1236,184,150,470,81,210,0,...,0,0,0,0,0,0,0,4470,10936,895
37,Oswego,16186,24794,2894,705,663,1554,246,583,0,...,0,1,0,0,0,0,0,17095,27688,3005
38,Otsego,9809,12156,1152,520,476,723,166,343,0,...,0,1,0,0,0,0,0,10451,13308,1656
39,Putnam,18324,23905,3119,590,806,751,236,420,0,...,0,0,0,0,0,0,0,19366,27024,1821
40,Rensselaer,30506,28591,5135,1355,1576,1959,635,985,0,...,0,0,0,0,0,0,0,32717,33726,4468
41,Rockland,67098,54873,6038,1348,1640,1529,604,755,0,...,0,0,0,0,0,0,0,69342,60911,3826
42,Saratoga,48503,48584,5991,1825,1653,3354,757,1762,0,...,0,0,0,0,0,0,0,50913,54575,7340
43,Schenectady,32072,25203,3750,1127,1165,1770,510,854,0,...,0,0,0,0,0,0,0,33747,28953,3934
44,Schoharie,3966,7705,1126,274,191,382,83,149,0,...,0,0,0,0,0,0,0,4240,8831,861
45,Schuyler,2817,4517,533,216,205,206,69,103,0,...,0,0,0,0,0,0,0,3091,5050,549
46,Seneca,5350,6488,748,259,235,464,112,174,0,...,0,0,0,0,0,0,0,5697,7236,938
47,St. Lawrence,15749,18236,1706,807,534,1034,205,411,0,...,0,0,0,0,0,0,0,16488,19942,2331
48,Steuben,11982,24743,2088,585,389,1167,155,499,0,...,0,0,0,0,0,0,0,12526,26831,2354
49,Suffolk,292720,314639,35931,8099,8001,9169,3230,4747,0,...,0,3,0,0,0,0,0,303951,350570,22646
50,Sullivan,11913,13929,2002,504,498,538,157,196,0,...,0,0,0,0,0,0,0,12568,15931,1262
51,Tioga,7123,12206,1054,337,299,623,104,307,0,...,0,0,0,0,0,0,0,7526,13260,1321
52,Tompkins,26093,9370,1001,1380,2358,855,439,538,0,...,0,0,2,0,0,0,0,28890,10371,2938
53,Ulster,40674,30288,4951,2147,3192,1570,731,822,0,...,0,2,0,0,0,0,0,44597,35239,4699
54,Warren,12461,14317,1434,863,420,854,210,401,0,...,0,0,0,0,0,0,0,13091,15751,2202
55,Washington,8564,12170,1440,578,373,644,161,282,0,...,0,1,0,0,0,0,0,9098,13610,1584
56,Wayne,12728,20221,3159,567,531,1391,214,520,0,...,0,0,0,0,0,0,0,13473,23380,2626
57,Westchester,265256,119658,11580,4358,5658,4898,2012,3144,0,...,0,2,0,0,0,0,0,272926,131238,13016
58,Wyoming,3716,10928,1514,180,134,474,54,199,0,...,0,0,0,0,0,0,0,3904,12442,888
59,Yates,3473,5089,571,146,126,345,60,149,0,...,0,0,0,0,0,0,1,3659,5660,675
61,Bronx,347893,34089,3708,4341,5016,1832,737,480,0,...,0,0,0,0,0,0,0,353646,37797,6811
62,Kings,611439,129368,11676,11932,26578,4786,2536,2078,0,...,0,10,0,0,0,0,0,640553,141044,19492
63,New York,557859,60638,4292,9441,18396,5588,2758,3820,0,...,2,0,0,0,0,1,0,579013,64930,19926
64,Queens,502411,137148,12193,9230,12666,5270,2143,1846,0,...,0,2,0,0,0,0,0,517220,149341,16952
65,Richmond,71348,92383,9054,1886,2372,1744,423,688,0,...,0,1,0,0,0,0,0,74143,101437,4498

## Create another list of columns to keep to be put in a new data frame
* the columns to keep are the county and the total votes for Clinton, Trump, and Other

In [28]:
cols_to_keep2 = ['County', 'Clinton-Kaine-Total', 'Trump-Pence-Total', 'Other']

### Create a new data frame made of just the columns that were selected to be kept

In [29]:
voting_df5 = voting_df4[cols_to_keep2]

### Look at the new data frame to make sure it is complete

In [30]:
voting_df5

          County  Clinton-Kaine-Total  Trump-Pence-Total  Other
0         Albany                83071              47808   7621
1       Allegany                 4882              12525   1109
2         Broome                39212              40943   5053
3    Cattaraugus                 9497              19692   1767
4         Cayuga                13522              17384   1959
5     Chautauqua                19091              31594   3064
6        Chemung                13757              20097   2004
7       Chenango                 6775              11921   1295
8        Clinton                15059              14449   1995
9       Columbia                15284              13756   1624
10      Cortland                 8771               9900   1393
11      Delaware                 6627              11942   1080
12      Dutchess                62261              61797   5874
13          Erie               215456             188303  19866
14         Essex                 7762               7958   1201
15      Franklin                 7297               8221   1122
16        Fulton                 6496              13462   1111
17       Genesee                 7650              16915   1690
18        Greene                 7405              13073   1181
19      Hamilton                  949               2064    163
20      Herkimer                 8083              16699   1473
21     Jefferson                13809              21763   2367
22         Lewis                 3146               7400    668
23    Livingston                10697              17290   1847
24       Madison                11667              15936   2198
25        Monroe               188592             136582  19714
26    Montgomery                 6595              11301   1015
27        Nassau               332154             292025  18796
28       Niagara                35559              51961   4281
29        Oneida                33743              51437   5178
..           ...                  ...                ...    ...
32        Orange                68278              76645   6204
36       Orleans                 4470              10936    895
37        Oswego                17095              27688   3005
38        Otsego                10451              13308   1656
39        Putnam                19366              27024   1821
40    Rensselaer                32717              33726   4468
41      Rockland                69342              60911   3826
42      Saratoga                50913              54575   7340
43   Schenectady                33747              28953   3934
44     Schoharie                 4240               8831    861
45      Schuyler                 3091               5050    549
46        Seneca                 5697               7236    938
47  St. Lawrence                16488              19942   2331
48       Steuben                12526              26831   2354
49       Suffolk               303951             350570  22646
50      Sullivan                12568              15931   1262
51         Tioga                 7526              13260   1321
52      Tompkins                28890              10371   2938
53        Ulster                44597              35239   4699
54        Warren                13091              15751   2202
55    Washington                 9098              13610   1584
56         Wayne                13473              23380   2626
57   Westchester               272926             131238  13016
58       Wyoming                 3904              12442    888
59         Yates                 3659               5660    675
61         Bronx               353646              37797   6811
62         Kings               640553             141044  19492
63      New York               579013              64930  19926
64        Queens               517220             149341  16952
65      Richmond                74143             101437   4498

[62 rows x 4 columns]

### Save the newest data frame as a csv to be used in other notebooks

In [31]:
voting_df5.to_csv('../data/2016President_clean.csv', index=False)